/* ==========================================================================
   SECTION: PAGINATION
   ========================================================================== */


.include-nav-links {
	
	display: flex;
	justify-content: center;
	
	a, span {
		width: 35px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		
		&:hover {
			text-decoration: none;
		}
	}

	
	a.page-numbers {
		
		border-bottom: 3px solid #fff;
		margin: 0 4px;
		
		&:hover {
			border-bottom: 3px solid #000;
			text-decoration: none;
		}
	}
	
	
	a.prev,
	a.next {
		
		&:before,
		&:after {
			font-family: $fg-icon-font-name;
		}
		
		&:hover {
			border-bottom: 3px solid #fff;
			text-decoration: none;
		}
	}
	
	a.prev {
		
		&:before {
			content: '\f053';
			content: '\f177';
		}
	}
	
	a.next {
		
		&:after {
			content: '\f054';
			content: '\f178';
		}
	}
	
	span.page-numbers {
		
	}
	
	span.current {
		background: $gray-lighter;
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	#include-pagination {
		margin-bottom: $fg-section-space;
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}
