/* ==========================================================================
   SECTION: POST THUMBNAIL
   ========================================================================== */

.single {
	
	.include-post-thumbnail {
		
		margin-bottom: 30px;
		
		a {
			
			display: block;
			width: 100%;
			height: 350px;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			background-position: center center !important;
			cursor: pointer;
			cursor: zoom-in;
			
			transition: all 1s ease 0s; 
			
			img {
				opacity: 0;
			}
			
			&.no-thumbnail {
				
				background-size: 80px 80px !important;
				background-color: $gray-lighter !important;
				
				&:hover {
					background-size: 100px 100px !important;
					cursor: default;
				}
			}
		}
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}
