/* ==========================================================================
   SECTION: FOOTER WIDGET - CONTACT
   ========================================================================== */

#footer {
			
	.widget {
		
		form {

			label {
				
				sup {
					color: $gray;
					padding-left: 3px;
				}
			}
			
			&.invalid {
				
				input[type="text"],
				input[type="email"],
				textarea {
					
					&.wpcf7-not-valid {
						border-color: rgba(0,0,0,0.3) !important;
						border-bottom-color: $brand-danger !important;
					}
				}
			}
			
			.wpcf7-form-control-wrap {
				
				display: block;
				position: relative;
				
				// place error messages over inputs and hide with jQuery on hover
				.wpcf7-not-valid-tip {
					position: absolute;
					top: 0;
					margin: 0;
					height: 100%;
					display: flex;
					align-items: flex-start;
					padding-left: 10px;
					padding-top: 10px;
					color: $brand-danger;
				}
			}
			
			.wpcf7-validation-errors {
				display: none !important;
			}
			
			.wpcf7-mail-sent-ok {
				position: absolute;
				font-size: 12px;
				color: $brand-success;
				margin-top: 10px !important;
			}
		}
	}
}






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}