/* ==========================================================================
   WP CLASSES: GALLERY
   ========================================================================== */
 
 .gallery {
	margin-bottom: $fg-section-space;
	margin-left: - 10px;
	margin-right: - 10px;
}

.gallery-item {
	
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 10px;
	
	img {
		width: 100%;
	}
	
	figcaption {
		text-align: left;
	} 
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-columns-10 .gallery-item {
	max-width: 10%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	padding-top: 5px;
	font-size: 12px;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption,
.gallery-columns-10 .gallery-caption {
	display: none;
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.gallery {
		margin-left: - 10px;
		margin-right: - 10px;
	}
	
	.gallery-item {
		padding: 5px 10px;
	}
	
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item {
		padding: 5px;
	}
	
	.gallery-columns-9 .gallery-item,
	.gallery-columns-10 .gallery-item {
		padding: 3px;
	}
	
	.gallery-columns-5 .gallery-caption {
		display: none;
	}	
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	.gallery-columns-3 .gallery-caption,
	.gallery-columns-4 .gallery-caption {
		display: none;
	}	
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}
