/* ==========================================================================
   SECTION: POST NAVIGATION
   ========================================================================== */

#include-post-navigation {
	
	display: flex;
	border-top: 1px solid $gray;
	border-bottom: 1px solid $gray;
	margin-top: $fg-section-space-m;
	margin-bottom: $fg-section-space-m;
	
	#prev,
	#back,
	#next {
		display: flex;
		align-self: stretch;
	}
	
	#prev,
	#next {
		width: 45%;
	}
	
	#prev a:before,
	#next a:after {
		font-size: 35px;
		line-height: 0.5;
		color: $gray-lighter;
		font-family: $fg-icon-font-name;
	}

	
	#prev {
		
		a {
			justify-content: flex-start;
			overflow: hidden;
			word-wrap: break-word;
			
			&:before {
				content: '\f104';
				padding-right: 10px;
			}
		}
	}
	
		
	#back {
		
		width: 10%;
		border-left: 1px solid $gray;
		border-right: 1px solid $gray;	
		
		i:before {			
			content: "\f00a";
			font-family: $fg-icon-font-name;
			font-style: normal;
		}
		
		a {
			justify-content: center;
		}
	}
	
	
	#next {
		
		a {
			
			justify-content: flex-end;
			overflow: hidden;
			word-wrap: break-word;
			
			&:after {
				content: '\f105';
				padding-left: 10px;
			}
		}
	}
	
	
	a, b {
		display: flex;
		align-self: stretch;
		align-items: center;
		width: 100%;
		
		text-decoration: none;
		padding: 15px;
		
		transition: all 0.3s ease 0s; 
	}
	
	
	a {
		
		&:hover {
			background: $gray;
			color: #fff;
		}
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
 


/* =============================================
   SMALL SCREENS AND BELOW (992px and below)
   ============================================= */

@media ( max-width: $screen-md-min ) {}
 
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {		

	#post-navigation {
		
		border-top: 0;
		border-bottom: 0;
		display: block;
		
		#prev,
		#back,
		#next,
		a {
			width: 100%;
			display: block;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
		
		
		#prev a:before,
		#next a:after {
			font-size: 24px;
			position: relative;
			bottom: -3px;
		}
		
		#back {
			border-top: 1px solid $gray;
			border-bottom: 1px solid $gray;
			border-left: 0;
			border-right: 0;
		}
	}
}


 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs-min ) {}



/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}
 
/* =============================================
   TABLETS ONLY (between 480px and 767px)
   ============================================= */

@media ( min-width: $screen-xs-min ) and ( max-width: $screen-xs-max ) {}
 
/* =============================================
   TABLETS ONLY (between 768px and 991px)
   ============================================= */

@media ( min-width: $screen-sm-min ) and ( max-width: $screen-sm-max ) {} 

/* =============================================
   SMALL SCREENS ONLY (between 992px and 1139px)
   ============================================= */

@media ( min-width: $screen-md-min ) and ( max-width: 1039px ) {}

/* =============================================
   LARGE SCREENS ONLY (between 992px and 1139px)
   ============================================= */
 
@media ( min-width: 1040px ) and ( max-width: 1200px ) {}

/* =============================================
   LARGE SCREENS ONLY (between 1200px and 1920px)
   ============================================= */
 
@media ( min-width: 1200px ) and ( max-width: 1340px ) {}

/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: 1341px ) {}

/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}

/* =============================================
   TABLETS ONLY (between 768px and 991px)
   ============================================= */

@media ( min-width: $screen-sm-min ) and ( max-width: $screen-sm-max ) {}

/* =============================================
   SMALL SCREENS ONLY (between 992px and 1199px)
   ============================================= */

@media ( min-width: $screen-md-min ) and ( max-width: $screen-md-max ) {}






/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
	
	#include-post-navigation {
		display: none !important;
	}
}
