/* ==========================================================================
   SECTION: RELATED POSTS
   ========================================================================== */


#include-related-posts {
	
	@include clearfix();
	
	margin-top: $fg-section-space-m;
	margin-bottom: $fg-section-space-m;
	
	ul {
		
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		* {
			box-sizing: border-box;
		}
		
		li {
			
			width: 25%;
			border: none;
			text-align: center;
			padding: 15px;
			list-style: none;
			
			img {
				
				max-width: 65%;
				margin: auto;
			}
			
			a {
				
				padding: 0;
				
				span {
					display: block;
					margin: 10px auto 0;
					text-align: center;
					max-width: 80%;
					font-size: 14px;
					word-wrap: break-word;
				}
			}

			
			&:before {
				display: none;
			}
		}
	}
}







/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {
	
	#include-related-posts {
		
		ul {
			
			li {
				width: 50%;
			}
		}
	}	
}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	#include-related-posts {
		
		ul {
			
			li {
				width: 100%;
			}
		}
	}	
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}
