/* ==========================================================================
   SECTION: SECTION TITLE
   ========================================================================== */

h3#reply-title,
h2.comments-title,
#include-related-posts h3 {
	
	position: relative;
	margin-bottom: $fg-section-space;
	padding: 0 0 10px 0;
	text-align: center;
	font-size: 22px ;
	overflow: hidden;
	word-wrap: break-word;
	
	&:after {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 60px;
		height: 3px;
		margin-left: -30px;
		content: "";
		color: #fff;
		background-color: $gray-dark;;
	}
}






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}
