/* ==========================================================================
   Yoast Breadcrumbs
   ========================================================================== */
   
#breadcrumbs {

	// wrapper & only way to style separator
	span {
		
		font-size: ($font-size-base + 8);
		color: #ccc;
		
		// breadcrumbs
		span {
			
			font-size: $font-size-base;
			padding: 5px;
			
			// linked parent pages/posts
			a { 
				font-size: inherit;
				text-decoration: none;
				color: $link-color;
			}
			
			// current page/post
			strong.breadcrumb_last {
				font-size: inherit;
				color: $brand-secondary;
			}
		}
		
		span:nth-child(1) a {
			text-indent: -9999px;
			font-size: 0;
			text-decoration: none;
		}
		
		span:nth-child(1) a:after {
			font-family: 'FontAwesome';
			font-size: $font-size-base + 2;
			content: "\f015";
		}
	}
}