/* ==========================================================================
   PLUGIN: CONTACT FORM 7
   ========================================================================== */

/*----- VARIABLES -----*/

$fg-cf7-form-font-size:				$fg-form-font-size											!default;
$fg-cf7-margin-top: 				$fg-input-margin-top										!default;


/* validation */
$fg-cf7-valid-tip-font-size:		$fg-valid-tip-font-size										!default;
$fg-cf7-validation-error:			$fg-form-validation-error									!default;
$fg-cf7-form-submit-ok:				$fg-form-submit-ok											!default;



/*----- THE FORM -----*/

.wpcf7 {
	
	form {
				
		p {
			
			label {
				
				sup {
					color: $fg-required-color;
				}
			}
			
			select {
				@extend .styled-select;
			}
			
			/* wrap for all form elements */
			.wpcf7-form-control-wrap {
				margin: 0 !important;
			}
			
			input[type="text"],
			input[type="email"],
			.wpcf7-textarea, {
				transition: all 0.3s ease 0s; 
			}
			
			/* radio & checkbox wrapper */			
			.wpcf7-radio,
			.wpcf7-checkbox {
				
				display: block;
				margin: $fg-radio-margin;
				
				/* radio & checkbox item */
				.wpcf7-list-item {
					
					display: block;
					margin: 0;
					
					label {
						
						label.error {
							display: none !important; /* cf7 real time validation bug */
						}
					}
					
					.wpcf7-list-item-label {
						font-weight: normal;
					}					
				}
			}	
		}
		
		
		/* -- Validation -- */
		
		// fancy slide in in The7
		.wpcf7-response-output {
			
			.wpcf7-not-valid-tip-text,
			.wpcf7-valid-tip-text {
				padding-left: 65px;
				padding-right: 10px;
				line-height: 1.4;
			}
		}
		
		
		/* input border color */
		.wpcf7-not-valid:not(.wpcf7-select),
		input.error,
		textarea.error {
			border-color: #ccc !important;
			border-bottom-color: $fg-cf7-validation-error !important;
		}
		
		/* not valid tip */
		.wpcf7-not-valid-tip,
		label.error {
			display: block;
			padding: 0;
			margin-top: 3px;
// 			margin-bottom: $fg-cf7-margin-bottom;
			font-size: $fg-cf7-valid-tip-font-size;
			font-weight: 700;
			color: $fg-cf7-validation-error;
		}
		
		/* file input */
		.wpcf7-file {
			
			& + .wpcf7-not-valid-tip {
				margin-top: 2px;
			}
		}
		
		/* hide form warning */
		.wpcf7-validation-errors {
// 			display: none !important;
// 			margin-top: ( $fg-cf7-submit-margin-top + 5 ) !important;
			border: none !important;
			padding: 0 !important;
			text-align: left !important;
			line-height: 1.2 !important;
			color: $fg-cf7-validation-error !important;
		}
		
		/* sucessfull submision confirmation message */
		.wpcf7-mail-sent-ok {
// 			margin-top: ( $fg-cf7-submit-margin-top + 5 ) !important;
			border: none !important;
			padding: 0 !important;
			text-align: left !important;
			line-height: 1.2 !important;
			color: $fg-cf7-form-submit-ok !important;
		}
	}
}



/*----- SIDEBAR -----*/

.widget {
	
	.wpcf7 {
		
		label {
			
			sup {
				padding-left: 3px;
			}
		}
		
		p {
			margin-top: 10px;
		}
		
		input[type="submit"] {
			margin-top: 0;
		}
		
		// hide ajax loader in sidebar to maintain spacing
		.ajax-loader {
			display: none;
		}
	}
}



/*----- FOOTER -----*/






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.wpcf7-submit {
		width: 100%;
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}