/* ==========================================================================
   Chosen for WordPress
   ========================================================================== */ 

/*----- VARIABLES -----*/

$chosen-border-color: 				$input-border						!default;
$chosen-border-focus-color: 		$input-border-focus					!default;
$chosen-border-width: 				$input-border-width					!default;
$chosen-height-base:				$input-height-base					!default;



/*----- CHOSEN -----*/

.chosen-container {
	
	width: 100% !important;
	
	.chosen-results {
		margin-bottom: 0 !important;
		font-weight: normal;
	}
}	

.chosen-container-multi {
		
	ul.chosen-choices {
				
		border: $chosen-border-width solid $chosen-border-color;
		background-image: none;
		height: $chosen-height-base !important;
		line-height: $chosen-height-base;
	
		transition: all 0.5s;
		
		&:focus {
			border: $chosen-border-width solid $chosen-border-focus-color;
		}
		
		li.search-field {
			
			input[type="text"] {
				width: 100%;
				height: $chosen-height-base;
				line-height: $chosen-height-base;
				padding: $padding-base-vertical $padding-base-horizontal;
				font-size: ($font-size-base * 0.9);
				font-family: inherit;
				color: lighten($input-color-placeholder, 10%);
				margin: 0;
			}
		}
	}
}

.chosen-container-active {
		
	ul.chosen-choices {
		border: $chosen-border-width solid $chosen-border-focus-color;
		background-image: none;
		box-shadow: none;
	}
}
