/* ==========================================================================
   PLUGIN: EASY-SOCIAL-SHARE
   ========================================================================== */

// @link  https://socialsharingplugin.com/

.essb_links{
	margin-top: $fg-section-space-m !important;
	margin-bottom: $fg-section-space-m !important;
	text-align: center;
	clear: both;
}



.essb_mailform {
	z-index: 9999999 !important;
}

.essb_mailform_shadow {
	z-index: 9999998 !important;
}



/* ----- FLOATING ICONS ----- */

.essb_displayed_postfloat {
	
	li {
		&:before {
			display: none !important;
		}
	}
}



/* ----- EMAIL FORM----- */

.essb_mailform {
	
	top: 0 !important;
	left: 0 !important;
	padding: 0 !important;
	width: 100vw !important;
	height: 100vh !important;
	background: rgba(0,0,0,0.4) !important;


	
	.essb_mailform_content {
		
		width: 30%;
		margin: 0 auto;
		position: relative;
		top: 30%;
		padding: 50px;
		background: #f1f1f1;
		
		& > p {
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 16px;
			font-family: "Merriweather", sans-serif;
			font-style: normal;
		}
		
	
		input[type="text"],
		textarea {
			
			min-width: 100% !important;
			max-width: 100% !important;
			padding: 10px;
			box-sizing: border-box;
			
			border: $fg-input-border-width solid $fg-input-border-color;
			
			transition: all 0.3s ease 0s; 
			
			&:focus {
				border: $fg-input-border-width solid $fg-input-border-focus;
			}
		}

		
/*
		.essb_mailform_preview {
			
			margin: 20px 0 10px;
			padding: 10px;
			border-radius: 6px !important;
			background: rgba(255,255,255,0.25);
			
			br {
				display: none;
			}
		}
*/
		
		.essb_mailform_content_buttons {
			
			button {
				
				background: #000;
				color: #fff;
				font-family: inherit;
				padding: 10px 20px !important;
				
				&:hover {
					background: lighten( #000, 20% ) !important;
				} 
			}
		}
	}
}

.essb_mailform_shadow {
	background: rgba(0,0,0,0.35) !important;
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {
	
	.essb_mailform {
		
		.essb_mailform_content {
			top: 20%;
			width: 60%;
			padding: 25px;
		}
	}
}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.essb_mailform {
		
		.essb_mailform_content {
			width: 80%;
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}