/* ==========================================================================
   Flowplayer HTML5 for WordPress
   ========================================================================== */

/* FlowPlayer branding */
.flowplayer-video .fp-brand {
	display: none !important;
}

.flowplayer-video .fp-player + a {
	display: none !important
}

/* progress bar */
.fp-progress.animated {
	background-color: $brand-primary;
}

/* volume control */
.fp-volumelevel.animated {
	background-color: #fff;
}