/* ==========================================================================
   PLUGIN: GRAVITY FORMS with STRIPE ADDON
   ========================================================================== */

.gform_wrapper {
	
	form {
		
		/* everything except submit */
		.gform_body {
			
			/* ul wrapping li.gfield elements */ 
			.gform_fields {
				
				.ginput_container_name {
					
					.name_first {
						width: 49% !important;
					}
				}
				
				.ginput_card_security_code { 
					display: inline !important; 
				}
				
				.gfield_description { 
					padding-top: 0 !important; 
				}
				
				.validation_message { 
					line-height: 1; 
				}
			}
		}
	}
}



.gform_confirmation_wrapper {
	
	.gform_confirmation_message { 
		
		color: #000 !important;
		
		table { 
			
			border: 0 !important;  
			margin-bottom: 0 !important; 
			
			table {
				
				tr:nth-of-type(odd) { 
					background: #f1f1f1 !important;  
				}
			}
		}
	}
} 











/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}



@media ( max-width: 641px ) {
	
	.gform_wrapper {
		
		form {
			
			/* everything except submit */
			.gform_body {
				
				/* ul wrapping li.gfield elements */ 
				.gform_fields {
					
					.ginput_container_name {
						
						.name_first,
						.name_last {
							width: 100% !important;
						}
					}
				}
			}
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}