/* ==========================================================================
   Google Language Translator
   ========================================================================== */
   
   
#google_language_translator {
	
	.skiptranslate.goog-te-gadget {
		
		font-family: inherit;
	
		select {
			margin: 0;
			font-size: 13px !important;
			border: 0 !important;
			
			background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAYAAAAm06XyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGZJREFUeNpi+P//f8V/8kAHA5CQBeKzJGq8CcRqIM0gLA7E54nUeAeIFUH6YJpBWJQIF4BslIfpQdYMc8EZPBoVkdWja4YZgO6CW0CshK4Wm2b0MLiNTSM+zSAsBYoOIFbBpQYgwAB0bqSDzE5zPAAAAABJRU5ErkJggg==) no-repeat 95% center;
			background-size: 8%;
					
			-webkit-appearance: none;
			-moz-appearance: none;
			
			transition: all 0.5s;
			
			color: #fff;
/*
			color: rgba(0,0,0,0);
			text-shadow: 0 0 0 #fff;
*/
		}
		
		option {
			color: #999;
			padding: 3px;
		}
	}
}   

#google_language_translator select::-ms-expand {
    display: none;
}



/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	
   
	#google_language_translator {
		
		.skiptranslate.goog-te-gadget {
					
			select {
				color: #fff !important;
			}
			
			option {
				color: #999 !important;
			}
		}
	} 
}




@supports (-ms-accelerator:true) {
	
	#google_language_translator {
		
		.skiptranslate.goog-te-gadget {
					
			select {
				color: #fff !important;
			}
			
			option {
				color: #999 !important;
			}
		}
	} 
}