/* ==========================================================================
   PLUGIN: GRAVITY FORMS
   ========================================================================== */

/*----- VARIABLES -----*/

/* -- Default -- */

$fg-gf-font-size:						$fg-form-font-size					!default;
$fg-gf-form-line-height-s: 				$fg-form-line-height-s				!default;
$fg-gf-form-line-height-l:				$fg-form-line-height-l				!default;


/* -- Label -- */

$fg-gf-label-font-weight:				$fg-label-font-weight				!default;
$fg-gf-required-color:					$fg-required-color					!default;


/* -- Input -- */

/* layout */
$fg-gf-input-margin-top:				$fg-input-margin-top				!default;
$fg-gf-input-margin-bottom:				$fg-input-margin-bottom				!default;
$fg-gf-input-padding:					$fg-input-padding					!default;

/* border */
$fg-gf-input-border-color:				$fg-input-border-color				!default;
$fg-gf-input-border-radius:				$fg-input-border-radius				!default;
$fg-gf-input-border-width:				$fg-input-border-width				!default;

/* background */


/* placeholder */


/* -- Textarea -- */

$fg-gf-textarea-height: 				$fg-textarea-height					!default;


/* -- Radio / Select -- */


/* -- Submit -- */

$fg-gf-submit-margin-top:				$fg-submit-margin-top				!default;
$fg-gf-submit-text-transform:			$fg-submit-text-transform			!default;
$fg-gf-sumbit-padding:					$fg-sumbit-padding					!default;


/* -- Form Validation -- */

$fg-gf-validation-error: 				$fg-form-validation-error			!default;
$fg-gf-submit-ok: 						$fg-form-submit-ok					!default;
$fg-gf-valid-tip-font-size:				$fg-valid-tip-font-size				!default;




.gform_wrapper {

	form {
		
		/* everything except submit */
		.gform_body {
			
			/* ul wrapping li.gfield elements */ 
			.gform_fields {
				line-height: 0.5; /* line-height reset hack */
			}
			
			/* form list item */
			.gfield {
				
				margin: 0 !important;
				padding-right: 0 !important;
				line-height: 0.5; /* line-height reset hack */
				
				/* label */
				.gfield_label {
					
					line-height: $fg-gf-form-line-height-s;
					font-size: $fg-gf-font-size;
					font-weight: $fg-gf-label-font-weight;
					
					.gfield_required {
						color: $fg-gf-required-color !important;
					}
				}
				
				/* form elements */
				.ginput_container {
					
					margin-top: 0;
					
					textarea,
					input[type="text"],
					input[type="password"],
					input[type="datetime"],
					input[type="datetime-local"],
					input[type="date"],
					input[type="month"],
					input[type="time"],
					input[type="week"],
					input[type="number"],
					input[type="email"],
					input[type="url"],
					input[type="search"],
					input[type="tel"] {
						padding: $fg-gf-input-padding !important;
					}
					
					textarea {
						height: $fg-gf-textarea-height;
						line-height: $fg-gf-form-line-height-l !important;
						resize: vertical;
						transition: all 0.5s !important;
					}
					
					/* select */
					.gfield_select {
						
						font-size: $fg-gf-font-size;
						height: auto;
						line-height: $fg-gf-form-line-height-l;
						
						@extend .styled-select;
						
						option {
							padding: 0 5px;
						}
					}
					
					/* radio & checkbox */
					.gfield_radio,
					.gfield_checkbox {
						
						margin-top: $fg-gf-input-margin-top !important;
						margin-bottom: $fg-gf-input-margin-bottom !important;
						
						li {
							
							margin: 0 !important;
							line-height: $fg-gf-form-line-height-l !important;
							
							input,
							label {
								line-height: $fg-gf-form-line-height-l !important;
							}
							
							label {
								font-size: $fg-gf-font-size;
								font-weight: normal;
							}
						}
					}
				}
			}
		}
		
		/* submit */
		.gform_footer {
			
			margin: 0;
			padding: 0;
			
			button,
			input[type="submit"],
			input[type="reset"] {
				margin-top: $fg-gf-submit-margin-top !important;
				line-height: $fg-gf-form-line-height-s !important;
				text-transform: $fg-gf-submit-text-transform !important;
				border-radius: $fg-gf-input-border-radius !important;
				padding: $fg-gf-sumbit-padding !important;
			}
		}
		
		
		
		/* -- Validation -- */
		
		/* Error Message above form */
		.validation_error {
			display: none;
		}		
		
				
		/* Error Messages below inputs */
		.gfield_error {
			
			border: none !important;
			padding: 0 !important;
			background: transparent !important;
			
			.gfield_label {
				margin: 0 !important;
			}
			
			.ginput_container {
				margin: 0 !important;
			}
			
			textarea,
			input[type="text"],
			input[type="password"],
			input[type="datetime"],
			input[type="datetime-local"],
			input[type="date"],
			input[type="month"],
			input[type="time"],
			input[type="week"],
			input[type="number"],
			input[type="email"],
			input[type="url"],
			input[type="search"],
			input[type="tel"] {
				border-width: $fg-gf-input-border-width !important;
				border-color: $fg-gf-input-border-color !important;
				border-bottom-color: $fg-gf-validation-error !important;
			}
			
			/* Error messages */
			.validation_message { 
				color: $fg-gf-validation-error;
				font-size: $fg-gf-valid-tip-font-size !important;
				padding: 0 0 5px 0 !important;
				margin-top: -4px;
			}
			
			/* File Upload */
			.ginput_container_fileupload {
				
				& + .validation_message {
					margin-top: 4px;
				}
			}
		}
	}
}



/* -- Confirmation -- */

.gform_confirmation_wrapper {

	.gform_confirmation_message {
		margin: 20px 0;
		color: $fg-gf-submit-ok;
		line-height: 1.2;
	}
}






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.gform_button {
		width: 100%;
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}