/* ==========================================================================
   PLUGIN: HIGHLIGHT AND SHARE
   ========================================================================== */

$fg-hs-icon-size: 						42px							!default;
$fg-hs-font-size: 						16px							!default;
$fg-hs-border-radius: 					50%								!default;


.highlight-and-share-wrapper {
		
	.has_twitter,
	.has_facebook,
	.has_linkedin,
	.has_pinterest,
	.has_email {
		padding: 0 !important;
		margin-bottom: 0 !important;
		border-radius: $fg-hs-border-radius !important;
		box-shadow: 0 0 15px #ababab;
	}
	
	a, i {
		font-size: $fg-hs-font-size !important;
	}
	
	a {
		padding: 0 !important;
		width: $fg-hs-icon-size !important;
		height: $fg-hs-icon-size !important;
		line-height: $fg-hs-icon-size !important;
		text-align: center;
		box-sizing: border-box !important;
	}
}