/* ==========================================================================
   PLUGIN: JETPACK
   ========================================================================== */

.jp-carousel-wrap {
	
	.jp-carousel-info {
		
		display: none;
		
		.jp-carousel-image-meta {
			
		}
		
		.jp-carousel-left-column-wrapper {
			
			.jp-carousel-titleanddesc {
				
			}
			
			#jp-carousel-comment-form-container {
				
			}
			
			.jp-carousel-comments {
				
			}
		}
	}
}