/* ==========================================================================
   PLUGIN: MAINTENANCE MODE
   ========================================================================== */

// @link  https://wordpress.org/plugins/maintenance/

.main-container {
	
	.preloader { 
		display: none !important;
	}
	
	#wrapper {
		
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		.logo-box,
		.logo-box-retina {
			padding: 0;
			margin: 0 0 15px 0;
		}
		
		#content {
			
			position: static !important;
			
			.description {
				
				p { 
					font-size: 18px; 
					text-transform: uppercase; 
				}
			}
			
			.heading { 
				font-size: 22px; 
				text-transform: uppercase; 
			}
		}
	}
	
	footer { 
		display: none;
	}
}


.login-form-container {
	
	* { 
		color: #fff !important; 
	}
	
	#submit { 
		border-color: #fff !important; 
	}
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}