/* ==========================================================================
   PLUGIN: MAILCHIMP
   ========================================================================== */

/*----- VARIABLES -----*/

$fg-mc-form-text-color:     	           	$fg-form-text-color							!default;
$fg-mc-line-height-s:						$fg-line-height-s							!default;

/* label */
$fg-mc-label-font-weight: 					$fg-label-font-weight						!default;

/* input */
$fg-mc-input-margin-top:					$fg-input-margin-top						!default;
$fg-mc-input-border-radius:					$fg-input-border-radius						!default;

/* submit */
$fg-mc-sumbit-padding:						$fg-sumbit-padding							!default;
$fg-mc-submit-text-transform:				$fg-submit-text-transform					!default;


.mc4wp-form {
	
	label {
		display: none;
		font-weight: $fg-mc-label-font-weight;
		color: $fg-mc-form-text-color;
	}
	
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"] {
		margin-top: $fg-mc-input-margin-top;
	}
	
	input[type="submit"] {
		padding: $fg-mc-sumbit-padding;
		line-height: $fg-mc-line-height-s;
		border-radius: $fg-mc-input-border-radius;
		text-transform: $fg-mc-submit-text-transform;
	}
	
	.mc4wp-response {
		
		display: block;
		margin-top: $fg-post-entry-xs;
		
		.mc4wp-alert {
			
			line-height: $fg-line-height-m;
			
			&.mc4wp-success {
				color: $brand-success;
				font-size: $fg-font-size-s;
			}
		}
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.mc4wp-form {
		
		input[type="submit"] {
			width: 100%;
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}