/* ==========================================================================
   PLUGIN: NINJA FORMS
   ========================================================================== */
   
/*----- ISSUES 
	
	- No chosen select
	- No validation error for select / no placeholder as first option  
	- File upload only in paid version
	
-----*/

/*----- TODO 
	
	- File Uploads
	- Descriptions
	
-----*/

/*----- VARIABLES -----*/

/* -- Default -- */

$fg-nf-font-size:							$fg-form-font-size					!default;
$fg-nf-line-height-s:						$fg-form-line-height-s				!default;
$fg-nf-line-height-l:						$fg-form-line-height-l				!default;
$fg-nf-text-color:							$fg-form-text-color					!default;	


/* -- Label -- */

$fg-nf-label-font-weight:					$fg-label-font-weight				!default;	
$fg-nf-required-color:						$fg-required-color					!default;

/* help icon */
$fg-nf-help-icon-bg:						$brand-info							!default;
$fg-nf-help-icon-color:						#fff								!default;

/* tooltip */
$fg-nf-tooltip-padding:						10px 15px							!default;
$fg-nf-tooltip-font-size:					12px								!default;
$fg-nf-tooltip-font-weight:					400									!default;
$fg-nf-tooltip-bg:							rgba(0,0,0,0.65)					!default;
$fg-nf-tooltip-color:						#fff								!default;	


/* -- Input -- */

/* layout */
$fg-nf-input-height:						$fg-input-height					!default;	
$fg-nf-input-margin-top:					$fg-input-margin-top				!default;	
$fg-nf-input-margin-bottom:					$fg-input-margin-bottom				!default;
$fg-nf-input-padding:						$fg-input-padding					!default;

/* border */
$fg-nf-input-border-width:					$fg-input-border-width				!default;
$fg-nf-input-border-color:					$fg-input-border-color				!default;
$fg-nf-input-border-radius:					$fg-input-border-radius				!default;
$fg-nf-input-border-focus:					$fg-input-border-focus				!default;

/* background */
$fg-nf-input-bg:							$fg-input-bg						!default;


/* placeholder */



/* -- Textarea -- */

$fg-nf-textarea-height:						$fg-textarea-height					!default;


/* -- Radio / Select -- */



/* -- Submit -- */

$fg-nf-submit-margin-top:					$fg-submit-margin-top				!default;
$fg-nf-sumbit-padding:						$fg-sumbit-padding					!default;
$fg-nf-submit-text-transform:				$fg-submit-text-transform			!default;
$fg-nf-submit-bg:							$fg-submit-bg						!default;


/* -- Form Validation -- */

$fg-nf-valid-tip-font-size:					$fg-valid-tip-font-size				!default;
$fg-nf-form-validation-error:				$fg-gf-validation-error				!default;
$fg-nf-form-submit-ok:						$fg-form-submit-ok					!default;





.nf-form-cont {
	
	.nf-form-title { display: none }
	
	.nf-form-wrap {
		
		.nf-response-msg {
			margin-bottom: 20px;
			color: $fg-nf-form-submit-ok;
			line-height: 1.2;
		}
		
		/*----- BEFORE THE FORM -----*/
		
		.nf-before-form-content { display: none }
		
		
		/*----- THE FORM -----*/
		
		/* form container */
		.nf-form-content {
			
			/* field container */
			.nf-field-container {
				
				margin: 0;
				line-height: 0.5 !important; /* line-height reset hack */
				
				/*--- Before The Field ---*/
				
				.nf-before-field {}
				
				
				/*--- The Field ---*/
				
				.nf-field {
					
					line-height: 0.5 !important; /* line-height reset hack */
					
					.field-wrap {
						
						display: block !important;
						
						/* label */
						.nf-field-label {
							
							margin: 0;
							line-height: 0.5 !important; /* line-height reset hack */
							
							label {
								font-size: $fg-nf-font-size;
								font-weight: $fg-nf-label-font-weight;
								line-height: $fg-nf-line-height-s;
							}
							
							.ninja-forms-req-symbol {
								color: $fg-nf-required-color !important;
							}
							
							.nf-help {
								
								background: none;
								width: ( $fg-nf-font-size * 0.75 );
								height: ( $fg-nf-font-size * 0.75 );
								margin-left: 5px;
								
								&:before {
									position: relative;
									top: -2px;
									width: $fg-nf-font-size;
									height: $fg-nf-font-size;
									padding-top: 2px;
									display: inline-block;
									text-align: center;
									content: '\f129';
									font-size: ( $fg-nf-font-size * 0.75 );
									border-radius: 50%;
									background: $fg-nf-help-icon-bg;
									color: $fg-nf-help-icon-color;

								}
							}
						}
						
						
						/* input */
						.nf-field-element {
											
							textarea,
							input[type="text"],
							input[type="password"],
							input[type="datetime"],
							input[type="datetime-local"],
							input[type="date"],
							input[type="month"],
							input[type="time"],
							input[type="week"],
							input[type="number"],
							input[type="email"],
							input[type="url"],
							input[type="search"],
							input[type="tel"] {
							
								height: $fg-nf-input-height;
								margin-top: $fg-nf-input-margin-top;
								margin-bottom: $fg-nf-input-margin-bottom;
								padding: $fg-nf-input-padding;
								
								line-height: $fg-nf-line-height-s;
								
								color: $fg-nf-text-color;
								background-color: $fg-nf-input-bg;
								
								border: $fg-nf-input-border-width solid $fg-nf-input-border-color !important;
								border-radius: $fg-nf-input-border-radius;
								
								transition: all 0.5s;
								
								&:focus {
									border: $fg-nf-input-border-width solid $fg-nf-input-border-focus !important;
									outline: none;
									box-shadow: none;
								}
							}
							
							/* textarea */
							textarea {
								height: $fg-nf-textarea-height;
								line-height: $fg-nf-line-height-l !important;
								resize: vertical;
								transition: all 0.5s !important;
							}
							
							/* select */
							select {
								
								margin-top: $fg-nf-input-margin-top;
								margin-bottom: $fg-nf-input-margin-bottom;
								height: auto;
								line-height: $fg-nf-line-height-l;
								border: $fg-nf-input-border-width solid $fg-nf-input-border-color;
								padding: $fg-nf-input-padding;
								
								@extend .styled-select;
								
								option {
									padding: 0 5px;
								}
							}
						}
						
						
						/* -- Validation -- */
						
						&.nf-error {
							
							.nf-field-element {
												
								textarea,
								input[type="text"],
								input[type="password"],
								input[type="datetime"],
								input[type="datetime-local"],
								input[type="date"],
								input[type="month"],
								input[type="time"],
								input[type="week"],
								input[type="number"],
								input[type="email"],
								input[type="url"],
								input[type="search"],
								input[type="tel"] {
									border-bottom-color: $fg-nf-form-validation-error !important;	
								}
							}
						}
					}
					
					
					/* radio & checkbox */
					.list-radio-wrap,
					.list-checkbox-wrap {
						
						.nf-field-element {
							
							margin-top: $fg-nf-input-margin-top; 
							margin-bottom: $fg-nf-input-margin-bottom; 
							
							ul {
								
								li {
									
									margin-bottom: 0 !important;
									line-height: $fg-nf-line-height-l;
									
									input,
									label {
										line-height: $fg-nf-line-height-l;
									}
									
									label {
										font-size: $fg-nf-font-size;
										font-weight: normal;
									}
								}
							}
						}
					}
					
					
					/* submit */
					.submit-wrap {
								
						button,
						input[type="button"],
						input[type="submit"],
						input[type="reset"] {
							margin-top: $fg-nf-submit-margin-top;
							padding: $fg-nf-sumbit-padding;
							line-height: $fg-nf-line-height-s;
							text-transform: $fg-nf-submit-text-transform;
							border: 0;
							border-radius: $fg-nf-input-border-radius;
							background: $fg-nf-submit-bg;
							transition: all 0.5s;
							-webkit-appearance: none;
							
							&:hover {
								background: darken($fg-nf-submit-bg, 20%) !important;
							}
						}
					}
				}
				
				
				/*--- After The Field ---*/

				.nf-after-field {
					
					nf-section,
					.nf-input-limit {
						margin: 0 !important;
					}
					
					.nf-error-msg {
						font-size: $fg-nf-valid-tip-font-size !important;
						font-weight: $fg-nf-label-font-weight !important;
						color: $fg-nf-form-validation-error;
						padding: 0 0 10px 0 !important;
						margin-top: -4px;
					}
				}
			}
		}
		
		
		/*----- AFTER THE FORM -----*/
		
		.nf-after-form-content {
			
			.nf-form-errors {
				
				.nf-error-msg {
					display: block;
					width: 100%;
					text-align: left;
					margin-top: 15px;
					color: $fg-nf-form-validation-error;
				}
			}
		}
	}
}


/*----- HELP TOOLTIPS -----*/

.jBox-Tooltip {
	
	.jBox-container {
		
		background: $fg-nf-tooltip-bg;
		line-height: 1;
		
		.jBox-content {
			padding: $fg-nf-tooltip-padding;
			font-size: $fg-nf-tooltip-font-size;
			font-weight: $fg-nf-tooltip-font-weight;
			color: $fg-nf-tooltip-color;
		}
	}
	
	.jBox-pointer:after {
		background-color: $fg-nf-tooltip-bg;
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.submit-wrap {
				
		button,
		input[type="button"],
		input[type="submit"],
		input[type="reset"] {
			width: 100% !important;
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {
	
	:-moz-ui-invalid:not(output) {
		box-shadow: none !important;
	}
}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}