/* ==========================================================================
   PLUGIN: POPUP MAKER
   ========================================================================== */

// Remove right padding to prevent content form shifting on popup-open
html.pum-open.pum-open-overlay.pum-open-scrollable {
	
	body > [aria-hidden] {
		padding-right: 0 !important;
	}
	
	#phantom {
		padding: 0 !important;
	}
}



.pum {
	
	// remove margin to hide background
	.wpb_video_widget,
	.wpb_content_element {
		margin-bottom: 0 !important;
	}
	
	
	// hobver state on ovelay close button
	.pum-close {

		opacity: .65;
		
		&:hover {
			opacity: 1;
		}
	}
}






/* Popup Maker Core Styles */
.pum-container,
.pum-content,
.pum-content+.pum-close,
.pum-content+.pum-close:active,
.pum-content+.pum-close:focus,
.pum-content+.pum-close:hover,
.pum-overlay,.pum-title {
	background:0 0;
	border:none;
	bottom:auto;
	clear:none;
	cursor:default;
	float:none;
	font-family:inherit;
	font-size:medium;
	font-style:normal;
	font-weight:400;
	height:auto;
	left:auto;
	letter-spacing:normal;
	line-height:normal;
	max-height:none;
	max-width:none;
	min-height:0;
	min-width:0;
	overflow:visible;
	position:static;
	right:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	top:auto;
	visibility:visible;
	white-space:normal;
	width:auto;
	z-index:auto
}
.pum-container .pum-content+.pum-close>span,.pum-content,.pum-title {
	position:relative;
	z-index:1
}
.pum-overlay {
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1999999999;
	overflow:initial;
	display:none;
	transition:all .15s ease-in-out
}
.pum-overlay.pum-form-submission-detected,.pum-overlay.pum-preview {
	display:block
}
.pum-overlay,.pum-overlay *,.pum-overlay:after,.pum-overlay:before,.pum-overlay:after,.pum-overlay:before {
	box-sizing:border-box
}
.pum-container {
	top:100px;
	position:absolute;
	margin-bottom:3em;
	z-index:1999999999
}
.pum-container.pum-responsive {
	left:50%;
	margin-left:-47.5%;
	width:95%;
	height:auto;
	overflow:visible
}
.pum-container.pum-responsive img {
	max-width:100%;
	height:auto
}
.pum-container.custom-position {
	left:auto;
	top:auto;
	margin-left:inherit
}
.pum-container .pum-content>:last-child {
	margin-bottom:0
}
.pum-container .pum-content+.pum-close {
	text-decoration:none;
	text-align:center;
	line-height:1;
	position:absolute;
	cursor:pointer;
	min-width:1em;
	z-index:2
}
.pum-container.pum-scrollable .pum-content {
	overflow:auto;
	overflow-y:scroll;
	max-height:95%
}
.pum-overlay-disabled {
	visibility:hidden
}
.pum-overlay-disabled::-webkit-scrollbar {
	display:block
}
.pum-overlay-disabled .pum-container {
	visibility:visible
}
html.pum-open.pum-open-overlay,html.pum-open.pum-open-overlay.pum-open-fixed .pum-overlay {
	overflow:hidden
}
html.pum-open.pum-open-overlay-disabled.pum-open-fixed .pum-container,html.pum-open.pum-open-overlay.pum-open-fixed .pum-container {
	position:fixed
}
html.pum-open.pum-open-overlay.pum-open-scrollable body>[aria-hidden] {
	padding-right:15px
}
html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
	overflow-y:scroll
}
html.pum-open.pum-open-overlay-disabled.pum-open-scrollable .pum-overlay.pum-active {
	position:static;
	height:auto;
	width:auto
}
.pum-container iframe.formidable {
	width:100%;
	overflow:visible
}
.pika-single,body div#ui-datepicker-div[style] {
	z-index:9999999999!important
}
.powered-by-popmake {
	bottom:-28px;
	display:block;
	left:0;
	margin:0 auto;
	position:absolute;
	text-align:center;
	width:100%
}
.powered-by-popmake>a {
	display:inline-block;
	max-width:205px
}
.powered-by-popmake img {
	max-width:100%;
	width:100%
}
.powered-by-popmake.small {
	bottom:-22px
}
.powered-by-popmake.small>a {
	max-width:125px
}
.powered-by-popmake.large {
	bottom:-30px
}
.powered-by-popmake.large>a {
	max-width:285px
}
.popmake-close {
	cursor:pointer
}
@media only screen and (min-width:1024px) {
	.pum-container.pum-responsive.pum-responsive-nano {
		margin-left:-5%;
		width:10%
	}
	.pum-container.pum-responsive.pum-responsive-micro {
		margin-left:-10%;
		width:20%
	}
	.pum-container.pum-responsive.pum-responsive-tiny {
		margin-left:-15%;
		width:30%
	}
	.pum-container.pum-responsive.pum-responsive-small {
		margin-left:-20%;
		width:40%
	}
	.pum-container.pum-responsive.pum-responsive-medium {
		margin-left:-30%;
		width:60%
	}
	.pum-container.pum-responsive.pum-responsive-normal {
		margin-left:-30%;
		width:70%
	}
	.pum-container.pum-responsive.pum-responsive-large {
		margin-left:-35%;
		width:80%
	}
	.pum-container.pum-responsive.pum-responsive-xlarge {
		margin-left:-47.5%;
		width:95%
	}
	.pum-container.pum-responsive.pum-position-fixed {
		position:fixed
	}
}
@media only screen and (max-width:1024px) {
	.pum-container.pum-responsive.pum-position-fixed {
		position: absolute
	}
}		





/* Popup Theme 121:Dark Overlay */
.pum-theme-121,
.pum-theme-dark-overlay {
	background-color:rgba( 0,0,0,0.65 ) !important;
}
.pum-theme-121 .pum-container,
.pum-theme-dark-overlay .pum-container {
	padding:0px;
	border-radius:0px;
	border:1px none #000000;
	box-shadow:1px 1px 3px 0px rgba( 2,2,2,0.23 );
	background-color:rgba( 255,255,255,0.15 )
}
.pum-theme-121 .pum-title,
.pum-theme-dark-overlay .pum-title {
	color:#000000;
	text-align:left;
	text-shadow:0px 0px 0px rgba( 2,2,2,0.23 );
	font-family:inherit;
	font-size:32px;
	line-height:36px
}
.pum-theme-121 .pum-content,
.pum-theme-dark-overlay .pum-content {
	color:#8c8c8c;
	font-family:inherit
}
.pum-theme-121 .pum-content+.pum-close,
.pum-theme-121 .pum-content+.pum-close:hover,
.pum-theme-dark-overlay .pum-content+.pum-close,
.pum-theme-dark-overlay .pum-content+.pum-close:hover {

	left: auto;
	bottom: auto;
	right: -30px !important;
	top: 0px !important;
	opacity: 1 !important;
	
	@include text-hide();
	
	&:before {
		content: "\f335";
		font-family: Dashicons;
		font-size: 24px;
		line-height: 24px;
		color: #fff;
	}
}

.pum-theme-121 .pum-content+.pum-close:hover,
.pum-theme-dark-overlay .pum-content+.pum-close:hover {
	opacity: 0.65 !important;
}


/* Popup Theme 69:Framed Border */
/*
.pum-theme-69,.pum-theme-framed-border {
	background-color:rgba( 255,255,255,0.5 )
}
.pum-theme-69 .pum-container,.pum-theme-framed-border .pum-container {
	padding:18px;
	border-radius:0px;
	border:20px outset #dd3333;
	box-shadow:1px 1px 3px 0px rgba( 2,2,2,0.97 ) inset;
	background-color:rgba( 255,251,239,1 )
}
.pum-theme-69 .pum-title,.pum-theme-framed-border .pum-title {
	color:#000000;
	text-align:left;
	text-shadow:0px 0px 0px rgba( 2,2,2,0.23 );
	font-family:inherit;
	font-size:32px;
	line-height:36px
}
.pum-theme-69 .pum-content,.pum-theme-framed-border .pum-content {
	color:#2d2d2d;
	font-family:inherit
}
.pum-theme-69 .pum-content+.pum-close,.pum-theme-framed-border .pum-content+.pum-close {
	height:20px;
	width:20px;
	left:auto;
	right:-20px;
	bottom:auto;
	top:-20px;
	padding:0px;
	color:#ffffff;
	font-family:Acme;
	font-size:20px;
	line-height:20px;
	border:1px none #ffffff;
	border-radius:0px;
	box-shadow:0px 0px 0px 0px rgba( 2,2,2,0.23 );
	text-shadow:0px 0px 0px rgba( 0,0,0,0.23 );
	background-color: rgba( 0,0,0,0.55 )
}
*/


/* Popup Theme 68:Cutting Edge */
/*
.pum-theme-68,.pum-theme-cutting-edge {
	background-color:rgba( 0,0,0,0.5 )
}
.pum-theme-68 .pum-container,.pum-theme-cutting-edge .pum-container {
	padding:18px;
	border-radius:0px;
	border:1px none #000000;
	box-shadow:0px 10px 25px 0px rgba( 2,2,2,0.5 );
	background-color:rgba( 30,115,190,1 )
}
.pum-theme-68 .pum-title,.pum-theme-cutting-edge .pum-title {
	color:#ffffff;
	text-align:left;
	text-shadow:0px 0px 0px rgba( 2,2,2,0.23 );
	font-family:Sans-Serif;
	font-size:26px;
	line-height:28px
}
.pum-theme-68 .pum-content,.pum-theme-cutting-edge .pum-content {
	color:#ffffff;
	font-family:inherit
}
.pum-theme-68 .pum-content+.pum-close,.pum-theme-cutting-edge .pum-content+.pum-close {
	height:24px;
	width:24px;
	left:auto;
	right:0px;
	bottom:auto;
	top:0px;
	padding:0px;
	color:#1e73be;
	font-family:inherit;
	font-size:32px;
	line-height:24px;
	border:1px none #ffffff;
	border-radius:0px;
	box-shadow:-1px 1px 1px 0px rgba( 2,2,2,0.1 );
	text-shadow:-1px 1px 1px rgba( 0,0,0,0.1 );
	background-color: rgba( 238,238,34,1 )
}
*/


/* Popup Theme 67:Hello Box */
/*
.pum-theme-67,.pum-theme-hello-box {
	background-color:rgba( 0,0,0,0.75 )
}
.pum-theme-67 .pum-container,.pum-theme-hello-box .pum-container {
	padding:30px;
	border-radius:80px;
	border:14px solid #81d742;
	box-shadow:0px 0px 0px 0px rgba( 2,2,2,0 );
	background-color:rgba( 255,255,255,1 )
}
.pum-theme-67 .pum-title,.pum-theme-hello-box .pum-title {
	color:#2d2d2d;
	text-align:left;
	text-shadow:0px 0px 0px rgba( 2,2,2,0.23 );
	font-family:Montserrat;
	font-size:32px;
	line-height:36px
}
.pum-theme-67 .pum-content,.pum-theme-hello-box .pum-content {
	color:#2d2d2d;
	font-family:inherit
}
.pum-theme-67 .pum-content+.pum-close,.pum-theme-hello-box .pum-content+.pum-close {
	height:auto;
	width:auto;
	left:auto;
	right:-30px;
	bottom:auto;
	top:-30px;
	padding:0px;
	color:#2d2d2d;
	font-family:inherit;
	font-size:32px;
	line-height:28px;
	border:1px none #ffffff;
	border-radius:28px;
	box-shadow:0px 0px 0px 0px rgba( 2,2,2,0.23 );
	text-shadow:0px 0px 0px rgba( 0,0,0,0.23 );
	background-color: rgba( 255,255,255,1 )
}
*/


/* Popup Theme 66:Enterprise Blue */
/*
.pum-theme-66,.pum-theme-enterprise-blue {
	background-color:rgba( 0,0,0,0.7 )
}
.pum-theme-66 .pum-container,.pum-theme-enterprise-blue .pum-container {
	padding:28px;
	border-radius:5px;
	border:1px none #000000;
	box-shadow:0px 10px 25px 4px rgba( 2,2,2,0.5 );
	background-color:rgba( 255,255,255,1 )
}
.pum-theme-66 .pum-title,.pum-theme-enterprise-blue .pum-title {
	color:#315b7c;
	text-align:left;
	text-shadow:0px 0px 0px rgba( 2,2,2,0.23 );
	font-family:inherit;
	font-size:34px;
	line-height:36px
}
.pum-theme-66 .pum-content,.pum-theme-enterprise-blue .pum-content {
	color:#2d2d2d;
	font-family:inherit
}
.pum-theme-66 .pum-content+.pum-close,.pum-theme-enterprise-blue .pum-content+.pum-close {
	height:28px;
	width:28px;
	left:auto;
	right:8px;
	bottom:auto;
	top:8px;
	padding:4px;
	color:#ffffff;
	font-family:inherit;
	font-size:20px;
	line-height:20px;
	border:1px none #ffffff;
	border-radius:42px;
	box-shadow:0px 0px 0px 0px rgba( 2,2,2,0.23 );
	text-shadow:0px 0px 0px rgba( 0,0,0,0.23 );
	background-color: rgba( 49,91,124,1 )
}
*/


/* Popup Theme 65:Light Box */
/*
.pum-theme-65,.pum-theme-lightbox {
	background-color:rgba( 0,0,0,0.6 )
}
.pum-theme-65 .pum-container,.pum-theme-lightbox .pum-container {
	padding:18px;
	border-radius:3px;
	border:8px solid #000000;
	box-shadow:0px 0px 30px 0px rgba( 2,2,2,1 );
	background-color:rgba( 255,255,255,1 )
}
.pum-theme-65 .pum-title,.pum-theme-lightbox .pum-title {
	color:#000000;
	text-align:left;
	text-shadow:0px 0px 0px rgba( 2,2,2,0.23 );
	font-family:inherit;
	font-size:32px;
	line-height:36px
}
.pum-theme-65 .pum-content,.pum-theme-lightbox .pum-content {
	color:#000000;
	font-family:inherit
}
.pum-theme-65 .pum-content+.pum-close,.pum-theme-lightbox .pum-content+.pum-close {
	height:30px;
	width:30px;
	left:auto;
	right:-24px;
	bottom:auto;
	top:-24px;
	padding:0px;
	color:#ffffff;
	font-family:inherit;
	font-size:24px;
	line-height:26px;
	border:2px solid #ffffff;
	border-radius:30px;
	box-shadow:0px 0px 15px 1px rgba( 2,2,2,0.75 );
	text-shadow:0px 0px 0px rgba( 0,0,0,0.23 );
	background-color: rgba( 0,0,0,1 )
}
*/


/* Popup Theme 64: Default Theme */
/*
.pum-theme-64,
.pum-theme-default-theme {
	background-color:rgba( 255,255,255,1 )
}
.pum-theme-64 .pum-container,
.pum-theme-default-theme .pum-container {
	padding:18px;
	border-radius:0px;
	border:1px none #000000;
	box-shadow:1px 1px 3px 0px rgba( 2,2,2,0.23 );
	background-color:rgba( 249,249,249,1 )
}
.pum-theme-64 .pum-title,
.pum-theme-default-theme .pum-title {
	color:#000000;
	text-align:left;
	text-shadow:0px 0px 0px rgba( 2,2,2,0.23 );
	font-family:inherit;
	font-weight:inherit;
	font-size:32px;
	font-style:normal;
	line-height:36px
}
.pum-theme-64 .pum-content,
.pum-theme-default-theme .pum-content {
	color:#8c8c8c;
	font-family:inherit;
	font-weight:inherit;
	font-style:normal
}
.pum-theme-64 .pum-content+.pum-close,
.pum-theme-default-theme .pum-content+.pum-close {
	height:auto;
	width:auto;
	left:auto;
	right:0px;
	bottom:auto;
	top:0px;
	padding:8px;
	color:#ffffff;
	font-family:inherit;
	font-weight:inherit;
	font-size:12px;
	font-style:normal;
	line-height:14px;
	border:1px none #ffffff;
	border-radius:0px;
	box-shadow:0px 0px 0px 0px rgba( 2,2,2,0.23 );
	text-shadow:0px 0px 0px rgba( 0,0,0,0.23 );
	background-color: rgba( 0,183,205,1 )
}
*/





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}