/* ==========================================================================
   PLUGIN: POST RATINGS
   ========================================================================== */

.post-ratings {
	
	margin: 15px 0;
	padding: 5px 0;
	text-align: center;
	font-size: $fg-font-size-base - 2;
	border-bottom: 1px solid $gray-lighter;
	border-top: 1px solid $gray-lighter;
	
	img {
		display: inline;
		height: 18px !important;
		width: auto !important;
		padding: 0 3px !important;
	}
	
	.post-ratings-text {
		display: none !important;
	}
}


.sidebar {
	
	.widget_ratings-widget {
		
		font-size: ( $fg-font-size-base - 4 ) !important;
		
		a {
			display: inline-block !important;
			width: 100%;
			font-size: ( $fg-font-size-base - 2 ) !important;
		}
		
		img {
			display: inline !important;
			padding: 0 1px !important;
		}
	}
}


.blog,
.search,
.archive {
	
	.post-ratings {
		
		display: block;
		margin: -5px 0 5px;
		text-align: left;
		font-size: $fg-font-size-base - 5;
		
			img {
				height: 14px !important;
				padding: 0 2px !important;
			}
	}
}


.format-link,
.format-quote,
.format-status {
	
	.post-ratings {
		text-align: center !important;
	}
}