/* ==========================================================================
   Simple Staff List
   ========================================================================== */

.staff-member-listing  {
	
	.staff-member {
		
		width: 30%;
		padding: 0 1.5%;
		margin-bottom: 60px;
		float: left;
		
		.staff-member-photo { }
		
		.staff-member-info-wrap { 
			
			.staff-member-name { }
			.staff-member-position { }
			.staff-member-bio { }
			.staff-member-email { }
		}
	}
	
	.odd { }
	.even { }
}