/* ==========================================================================
   PLUGIN: SOCIAL ICONS
   ========================================================================== */


ul.social-icons-lists {
	
	margin: 0;
	padding: 0;
	
	li.social-icons-list-item {
		
		margin: 0;
		
		a {
			
			span {
				top: 0;
				color: #fff !important;
			}
		}
	}	
	
/*
	.socicon-twitter:hover { background: $twitter !important; opacity: 1; }
	.socicon-facebook:hover { background: $facebook !important; opacity: 1; }
	.socicon-youtube:hover { background: $youtube !important; opacity: 1; }
	.socicon-linkedin:hover { background: $linkedin !important; opacity: 1; }
	.socicon-googleplus:hover { background: $google-plus !important; opacity: 1; }
	.socicon-rss:hover { background: $rss !important; opacity: 1; }
*/
}

.sidebar {
	.socicon-instagram { background: $instagram !important; opacity: 1; }
}






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}