/* ==========================================================================
   PLUGIN: SUBSCRIBE TO COMMENTS RELOADED
   ========================================================================== */


/* Checkbox below comment form */

.comment-form-subscriptions {
	
	margin: 0;
	
	label {
		
		vertical-align: middle;
		font-weight: normal;
		font-size: 12px;
		
		input[type="checkbox"] { 
			
			width: auto !important; 
			margin-right: 4px;
		}
		
		a { text-decoration: underline; }
	}
}




/* SUBSCRIPTION PAGE */

.page-id-9999999,
.page-template-subscribe {
	
	.highlight-and-share-wrapper {
		display: none !important;
	}

	#content {
		padding: 0;
	}
	
	#main {
		min-height: 100vh;
		display: flex;
		align-items: center;
	}
	
	article {
		
		padding: 150px 200px;
		color: #000;
		background: rgba(0, 0, 0, 0.15);
		
		p {
			padding: 0 !important;
			margin: 0 !important;
		}
		
		form {
						
			border: none;
			margin-top: 25px;
			
			label { display: none; }
			
			fieldset {
				border: 2px solid rgba(255,255,255,0.25) !important;
			}
			
			p,
			#sre,
			input[type="submit"] {
				margin: 0 !important;
			}
			
			input[type="text"],
			input[type="submit"] {
				float: left;
				height: 40px;
			}
			
			input[type="text"] { width: 80%; }
			input[type="submit"] { width: 20%; }
		}
		
		
		
		/* SUBSCRIPTIONS MANAGEMENT PAGE */		
		
		.updated {
			font-size: 18px;
			text-align: center;
			font-weight: 700;
			color: #a10000;
			position: relative;
			top: -35px;
			background: rgba(0,0,0,0.05);
			padding: 8px 0 !important;
		}
		
		#email_list_form {
			
			fieldset {
				border: 0 !important;
			}
			
			
			#subscribe-reloaded-title-p {
				font-size: 22px !important;
				margin-top: 0 !important;
			}
			
			
			.stcr-subscription-list {
				
				background: rgba(0,0,0,0.05);
				padding: 15px 0 !important;
				margin-bottom: 5px !important;
				
				thead,
				tbody {
					tr {
						th, td {
							width: 33% !important;
							text-align: left !important;
						}
						
						td {
							font-size: 12px;
						}
						
						td:first-child {
							text-align: center !important;
						}
					}
				}
			}
			
			
			#subscribe-reloaded-select-all-p {
				font-size: 12px;
			}
			
			
			#subscribe-reloaded-action-p {
				
				@include clearfix();
				color: transparent;
				
				select {
					
					@extend .styled-select;
					
					margin-bottom: 25px !important;
				}
				
				input[type="submit"] {
					width: auto !important;
				}
				
			}
			
			
			#subscribe-reloaded-update-p {
				
				@include clearfix();
				margin-top: 25px !important;
				text-align: center;
				
				i {
					font-size: 15px;
				}
			}
		}
	}	
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.page-template-subscribe-php {
		
		article {
			
			padding: 100px;
			
			form input[type="text"],
			form input[type="submit"] {
				width: 100% !important;
			}
		}	
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	.page-template-subscribe-php {
		
		padding: 0 20px;
		background: rgba(0, 0, 0, 0.15);

		article {
			padding: 0 20px;
// 			margin: 0 20px;
			background: transparent;
		}	
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}