/* ==========================================================================
   PLUGIN: TABLEPRESS
   ========================================================================== */

/*----- VARIABLES -----*/

/* Typography */

$fg-tp-font-size:         			$fg-table-font-size					!default;
$fg-tp-line-height:         		$fg-table-line-height 				!default;

$fg-tp-header-font-size:			$fg-table-header-font-size	 		!default;
$fg-tp-header-font-weight:			$fg-table-header-font-weight 		!default;

/* Colors */
$fg-tp-bg:							$fg-table-bg           				!default;
$fg-tp-bg-accent: 					$fg-table-bg-accent  				!default;
$fg-tp-bg-hover: 					$fg-table-bg-hover  				!default;
$fg-tp-bg-active:					$fg-table-bg-active					!default;
$fg-tp-border-color: 				$fg-table-border-color				!default;
$fg-tp-font-color: 					$fg-table-font-color 				!default;

/* Pagination */
$fg-tp-pagination-font: 			FontAwesome			 				!default;
$fg-tp-pagination-next: 			'\f105'				 				!default;
$fg-tp-pagination-prev: 			'\f104'				 				!default;



/* --- Table Name --- */

.tablepress-table-name {
	text-align: center;
	font-size: $fg-tp-font-size + 4;
}


/* --- Table Body --- */

.dataTables_wrapper {
	overflow: scroll;
}


/* --- Show x Rows --- */

.dataTables_length {
	
	margin-bottom: 10px;
	font-weight: 200;
	font-size: $fg-tp-font-size - 3;
	
	select {
		padding: 0 10px;
		line-height: $fg-tp-line-height;
	}
}


/* --- Search --- */

.dataTables_filter { 
	
	margin-bottom: 10px;
	text-align: right;
	
	label {
		font-size: $fg-tp-font-size - 3;
	}
	
	input[type="search"] {
		
		padding: 3px 10px;
		margin-left: 5px;
		height: auto !important;
		width: 50%;
		line-height: $fg-tp-line-height;
		display: inline-block;
		
		font-size: $fg-tp-font-size - 5px;
		line-height: $fg-tp-line-height;
		border: 2px solid $gray-lighter;
		
		transition: all 0.5s;
		
		&:focus {
			border: 2px solid $gray-light;
		}
	}
}

	
/* --- The Table --- */
	
	.tablepress {
		
		/* edit link */
		caption { 
			display: none; 
		}
		
		thead,
		tfoot {
						
			th {
				
				background: $fg-tp-bg !important;
				font-size: $fg-tp-header-font-size;
				font-weight: $fg-tp-header-font-weight;
				line-height: $fg-tp-line-height !important;
				
				&:hover { 
					background: $fg-tp-bg !important; 
				}
			}
		}
		
		tbody {
			
			td {
				font-size: $fg-tp-font-size !important;
				line-height: $fg-tp-line-height !important;
			}
			
			.odd {
				
				td {
					background: $fg-tp-bg-accent !important;
				}
			}
			
			.even {
				
				td {
					background: $fg-tp-bg !important;
				}
			}
			
			tr:hover {
				
				td {
					background: $fg-tp-bg-hover !important
				}
			}
		}
	}



/* --- Showing x of y entries --- */

.dataTables_info {
	font-size: $fg-tp-font-size - 3;
}



/* --- Table Pagination --- */

.dataTables_paginate {
	
	font-size: $fg-tp-font-size - 3;
	
	.paginate_button {
		
		&.disabled {
			display: none;
		}
		
		&.next,
		&.previous {
			text-decoration: none;
			color: $fg-tp-font-color !important;
			
			&:hover {
				color: darken( $fg-tp-font-color, 30% ) !important;
			}
		}
		
		&.previous {
			
			&:before {
				font-family: $fg-tp-pagination-font !important;
				content: $fg-tp-pagination-prev !important;
				text-shadow: none !important;
				color: $fg-tp-font-color !important;
			}
		}
		
		&.next {
			
			&:after {
				font-family: $fg-tp-pagination-font !important;
				content: $fg-tp-pagination-next !important;
				text-shadow: none !important;
				color: $fg-tp-font-color !important;
			}
		}
	}
}



/* --- Table Description --- */

.tablepress-table-description {
	padding-top: 5px;
	border-top: 1px solid $fg-tp-border-color;
	font-size: $fg-tp-font-size - 2;
	line-height: 1.1;
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}