/* ==========================================================================
   PLUGIN: THEME MY LOGIN
   ========================================================================== */

/*----- VARIABLES -----*/

/* messages */
$fg-tml-message-bg: 					transparent						!default;
$fg-tml-message-color: 					#fff							!default;
$fg-tml-message-border:					0 solid transparent				!default;
$fg-tml-message-border-left:			0 solid transparent				!default;
$fg-tml-message-text-align:				center							!default;

/* form */
$fg-tml-form-bg: 						transparent						!default;
$fg-tml-form-bg-focus: 					#f5f5f5							!default;
$fg-tml-form-color:						#ac3c29							!default;
$fg-tml-form-padding: 					3px 10px						!default;
$fg-tml-form-label: 					#fff							!default;

/* submit */
$fg-tml-submit-bg:						transparent						!default;
$fg-tml-submit-border:					2px solid #fff					!default;
$fg-tml-submit-color:					#fff							!default;
$fg-tml-submit-bg-hover:				#fff							!default;
$fg-tml-submit-color-hover:				#ac3c29							!default;




.login,
.lostpassword {
	
	.login-logo {
		
		img {
			width: 45% !important;
			height: auto !important;
			opacity: 0.75 !important;
			margin: 0 auto;
		}
	}
}


#theme-my-login {
	
	max-width: 100%;
	
	/* messages */
	.message {
		border: $fg-tml-message-border;
		border-left: $fg-tml-message-border-left;
		background: $fg-tml-message-bg;
		color: $fg-tml-message-color;
		text-align: $fg-tml-message-text-align;
		box-shadow: none;
	}
	
	
	/* the form */
	#loginform,
	#registerform,
	#resetpassform,
	#lostpasswordform,
	#your-profile {
		
		background: $fg-tml-form-bg;
		padding: $fg-tml-form-padding;
		box-shadow: none;
		
		label {
			color: $fg-tml-form-label;
		}
		
		
		#user_login,
		#user_pass,
		#user_email,
		#pass1-text,
		#pass1,
		#pass2,
		input[type="text"],
		input[type="password"] {
			
			border: 1px solid transparent !important;
			line-height: 34px !important;
			padding: $fg-tml-form-padding !important;

			background: rgba(255,255,255,0.25) !important;
			color: $fg-tml-form-color !important;

			-webkit-box-shadow: none;
					box-shadow: none;
						
			transition: all 0.3s ease 0s;
			
			
			&.strong {
				border: 1px solid #ccc !important;
				line-height: 34px !important;
				padding: 3$fg-tml-form-padding !important;

				background: $fg-tml-form-bg !important;
				color: $fg-tml-form-color !important;
			
				-webkit-box-shadow: none;
						box-shadow: none;
			}
			
			&:focus {
				border: 1px solid #000;
				line-height: 34px !important;
				padding: 3$fg-tml-form-padding !important;

				background: rgba(255,255,255,0.45) !important;
				color: $fg-tml-form-color !important;
				
				-webkit-box-shadow: none;
						box-shadow: none;
			}
		}

		
		/* submit button */
		#wp-submit {
			
			background: $fg-tml-submit-bg;
			color: $fg-tml-submit-color;
			border: $fg-tml-submit-border;
			
			transition: all 0.3s ease 0s; 
			
			&:hover {
				background: $fg-tml-submit-bg-hover !important;
				color: $fg-tml-submit-color-hover;
			}
		}
	}
	
	
	/* lost password link */
	.tml-action-links {
		
		display: block;
		text-align: center;
		margin-top: 15px;
		
		li {
			
			display: block;
			width: 100%;
			
			a {
				
				color: #ccc;
				font-size: 12px;
								
				transition: all 0.3s ease 0s;

				&:hover {
					color: #fff;
				}
			}
		}
	}
	
	
	/* avatar */
	.tml-user-avatar {
				
		img {
			margin: 0 auto;
			border: 4px solid rgba(255,255,255,0.45);
		}
	}
	
	
	/* user meta */
	.tml-user-links {
		
		margin: 10px 0;
		text-align: center;
		
		li {
			list-style: none;
		}
		
		a {
			color: #fff;
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	
	/* profile page */
	#your-profile {
		
		/* remove background & hover for rows */
		.tml-form-table {
			
			margin-bottom: 0;
			
			tr {
				
				&:hover {
					background: transparent;
				}
				
				th {
					padding: 0;
					line-height: 1;
					background: transparent;
					border: 0;
					margin-top: 5px;
					
					& + td {
						padding: 6px;
						border: 0;
					}
				}
			}
		}
		
		h3 {
			margin-top: 25px;
		}
		
		/* hide unwanted rows */
		.tml-form-table:nth-of-type(1),
// 		.tml-form-table:nth-of-type(3),
		.tml-form-table:nth-of-type(4),
		.tml-form-table:nth-of-type(6),
		.form-table { 
			display: none !important; 
		}
		
		/* hide unwanted headers */
		h3:nth-of-type(1),
		h3:nth-of-type(3),
		h3:nth-of-type(4),
		h3:nth-of-type(6) {
			display: none !important;
		}
		
		/* hide nickname & select public name */
		.tml-form-table:nth-of-type(2) {
			
			.tml-nickname-wrap,
			.tml-display-name-wrap {
				display: none !important;
			}
		}

		/* hide als contact info except email */
		.tml-form-table:nth-of-type(3) {
			
			.tml-user-url-wrap,
			.tml-user-contact-method-twitter-wrap,
			.tml-user-contact-method-facebook-wrap,
			.tml-user-contact-method-google-wrap,
			.tml-user-contact-method-tumblr-wrap,
			.tml-user-contact-method-instagram-wrap {
				display: none !important;
			}
		}
	}
}



#lostpasswordform {
	
	.tml-submit-wrap {
		text-align: center;
	}
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	#theme-my-login {
	
		#loginform {
			
			padding: 0 25px;
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}