/* ==========================================================================
   Ultimate Coming Soon Page
   ========================================================================== */


// move to custom CSS in plugin settings
html, 
body { 
	min-height: 100%; 
	height: 100%; 
}


#coming-soon-page {

	min-height: 100%; 
	height: 100%; 
	
	#coming-soon-container {
		
		display: table; 
		margin: 0 auto;
		min-height: 100%; 
		height: 100%; 
		
		#coming-soon-main {
		
			min-height: 100%; 
			height: 100%;
			display: table-cell;
			
			#coming-soon {
			
				min-height: 100%; 
				height: 100%;
				margin: 0; 
				display: table;
				
				h1#teaser-headline {
					display: none;
				}
				
				#teaser-description {
					
					margin: 0; 
					display: table-row; 
					height: 25px !important;
					
					p {
						
						margin: 0; 
						display: table-cell; 
						vertical-align: middle;
						text-align: center; 
						
						span {
							background-color: rgba(255, 255, 255, .8); 
							padding: 25px 40px; 
							border-radius: 12px; 
							display: inline-block;
						}
					
						a {
							color: #666;
						}
					
					}
					
				}
			}
		}
		
	}
	
	#coming-soon-footer {
		display: none;
	}
	
	#supersized-loader {
		display: none;
	}
	
	#supersized {
		display: none;
	}
}