/* ==========================================================================
   SECTION: WIDGETS - ULTIMATE POSTS
   ========================================================================== */
	
.widget_ultimate_posts,
.ultimate-post-legacy {
	
	ul {
		
		list-style: none !important;
		padding: 0;
		margin: 10px 0 0 0;
		
		li {
			
			display: flex;
			padding-top: $fg-post-entry-space;
			padding-bottom: $fg-post-entry-space;
			border-bottom: 1px solid rgba(120,125,133,0.25);
			
			&:first-of-type {
				border-top: none;
			}
			
			&:last-of-type {
				border-bottom: none;
			}
			
			.upw-image {
				width: 25%;
				margin-right: 10px;
			}
			
			.upw-content {
				
				width: 75%;
				
				p {
					margin: 0 0 3px 0;;
				}
				
				.post-title {
					
					font-weight: 700;
					
					a {
						text-decoration: none;
						color: #3b3f4a;
					}
				}
				
				.post-date {
					font-size: 12px;
					line-height: 1.5;
				}
				
				.post-author {
					
					font-size: 12px;
					line-height: 1.5;
					
					.post-author-label {
						font-style: italic;
					}
					
					a {
						
					}
				}
				
				.post-comments {
					font-size: 12px;
					line-height: 1.5;
				}
				
				.post-excerpt {
					
				}
				
				.post-content {
					
				}
				
				.post-cats {
					font-size: 12px;
					line-height: 1.5;
				}
				
				.post-tags {
					font-size: 12px;
					line-height: 1.5;
				}
				
				.post-meta {
					margin-top: 0;
					margin-bottom: 10px;
					color: $gray-light;
					font-weight: 300;
				}
			}
		}
	}
}




.footer {
	
	.widget_ultimate_posts,
	.ultimate-post-legacy {
		
		ul {
	
			li {
				
				.upw-content {
					
					.post-title {
						
						a {
							color: rgba(255,255,255,0.8);
						}
					}
					
					.post-date{
						color: rgba(255,255,255,0.6);
					}
					
					.post-author {
												
						.post-author-label {
							color: rgba(255,255,255,0.6);
						}
						
						a {
							color: rgba(255,255,255,0.6);
						}
					}
				}
			}
		}
	}
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}