/* ==========================================================================
   PLUGIN: VC EAST TABLES
   ========================================================================== */

#content,
#footer {

	.wpb_vc_table {
		
		overflow: scroll;
		
		table {
			
			@extend .table;
	// 		@extend .table-striped;
			@extend .table-hover;
	
			tr:nth-child(odd) {
				td {
					background-color: $fg-table-bg-accent;
				}
			}
	
			tr {
				
				td {
					border-top: 1px solid $fg-table-border-color !important;
					line-height: $fg-tp-line-height !important;
				}
			}
			
			tr:first-child,
			tr:last-child,
			tr.vc-th {
				
				td {
					font-size: $fg-table-header-font-size;
					font-weight: $fg-table-header-font-weight;
					border-top: none !important;
					background: $fg-table-bg;
				}
				
				&:hover {
					
					background: $fg-table-bg !important;
					
					td {
						background: $fg-table-bg !important;
					}
				}
			}
		}
	}
}






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}