/* ==========================================================================
   PLUGINS: VISUAL COMPOSER
   ========================================================================== */


// flex slider fadxe bug
.wpb_flexslider {
	
	overflow: hidden !important;
	margin-bottom: 35px !important;
	
	// reset styled select 
	li:before {
		display: none !important;
	}
}


// ol default styling pushed radio navigation off center
ol.vc_carousel-indicators {
	padding: 0 !important;
}

// reset styled select for us advanced carousel 
.ult-carousel-wrapper {
	
	.slick-dots {
		margin: 0 !important;
	}
	
	li:before {
		display: none !important;
	}
}