/* ==========================================================================
   PLUGIN: WONDER PLUGIN CAROUSEL
   ========================================================================== */

.wonderplugincarousel {
	
	.amazingcarousel-list-wrapper {
		
		ul.amazingcarousel-list {
			
			li.amazingcarousel-item {
				
				.amazingcarousel-item-container {
					
					padding: 0 !important;
					
					.amazingcarousel-image {
						
						a {
							
							img {
								
							}
							
							/* hide watermark on vertical */
							& + div + div {
								opacity: 0 !important;
								background: transparent !important;
								@include text-hide();
							}
						}
						
						/* title on hover */
						.amazingcarousel-text {
							display: none !important;
						}
					}
					
					/* hide watermark on horizontal */
					.wondercarousellightbox {
						
						& + div > a {
							opacity: 0 !important;
							background: transparent !important;
							@include text-hide();
						}
					}
					
					/* title on horizontal */
					.amazingcarousel-title,
					.amazingcarousel-description {
						display: none;
					}
				}
			}
		}
	}
	
	
	.amazingcarousel-nav {
		position: static !important;
	}
	
	
	.amazingcarousel-prev,
	.amazingcarousel-next {
		
		background: none !important;
		transition: all 0.3s ease 0s; 
		width: 16px !important; // for horizontal
		
		&:before,
		&:after {
			font-family: FontAwesome;
			font-size: 24px;
			color: $brand-primary;
		}
		
		&:hover {
			
			&:before,
			&:after {
				color: lighten( $brand-primary, 25% );
			}
		}
	}
	
	.amazingcarousel-prev {
				
		&:before {
			content: '\f077'; // up
			content: '\f053'; // left
		}
	}
	
	.amazingcarousel-next {
		
		bottom: -35px !important;
		
		&:after {
			content: '\f078'; // down
			content: '\f054'; // right
		}
	}
}




#carousel-html5-lightbox {
	
	#html5-lightbox-overlay {
		
	}
	
	#html5-lightbox-box {
		
		#html5-elem-box {
			
			background: transparent !important;
			
			#html5-elem-wrap {
				
				background: transparent !important;
				height: auto !important;
				
				#html5-image {
					
				}
			}
			
			#html5-elem-data-box {
				
				background: transparent !important;
				
				#html5-text {
					color: #fff;
				}
			}
		}
	}
	
	.html5-next-fullscreen,
	.html5-prev-fullscreen {
		
		img {
			display: none;
		}
		
		&:before,
		&:after {
			font-family: FontAwesome;
			font-size: 42px;
			color: #fff;
		}
	}
	
	.html5-prev-fullscreen {
		
		&:before {
			margin-left: 25px;
			content: '\f104'; /* angle */
/* 			content: '\f177'; */ /* long arrow */
		}
	}
	
	.html5-next-fullscreen {
		
		&:after {
			margin-right: 25px;
			content: '\f105'; /* angle */
/* 			content: '\f178'; */ /* long arrow */
		}
	}
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}