/* ==========================================================================
   WORDPRESS LOGIN
   ========================================================================== */

.login {
	
	#login {
		
		/* login/out messages */
		.message,
		#login_error {
		    border-left: 4px solid #000;
		}
		
		/* the form */
		#loginform,
		#lostpasswordform {
			
			.input, 
			input[type="text"] {
// 				@extend .ri-hub-form;
			}
			
			#wp-submit {
			    background: #000;
			    border-color: #000;
			    color: #fff;
			    
			    text-shadow: none;
			    
			    -webkit-box-shadow: none;
			    		box-shadow: none;
			}
		}
		
		/* register / lost password */
		#nav {
			
			a:hover {
			    color: #000;
			}
		}
		
		/* back to blog */
		#backtoblog {
			display: none;
		}
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}