/* ==========================================================================
   PLUGINS: BUDDYPRESS - REGISTRATION
   ========================================================================== */

.register {
	
	padding: 0 !important;
	
	#site-header {
		display: none;
	}
	
	
	#buddypress {
		
		/* center form on page */
		height: 100vh;
		display: flex;
		align-items: center;
	
		
		#signup_form {
			
			input[type="text"],
			input[type="email"],
			input[type="password"] {
				
				width: 100% !important;
				max-width: 100%;
				
				transition: border-color 0.3s ease 0s; 
				
				&:focus {
					border-color: $input-border-focus;
				}
			}
			
			.field-visibility-settings-notoggle,
			#signup_username + label:before {
				font-size: ($font-size-base * 0.75);
				line-height: ( $line-height-computed * 1.2 )
			}
			
			#signup_username + label {
				
				margin-top: 0;
				
				&:before {
					content: 'This will be used like a Twitter handle and can not be changed later.';
					display: block;
					margin-bottom:15px;
					font-weight: 400;
				}
			}
			
			.error {
				width: 100%;
				margin: 8px 0 3px !important;
				padding: 0 !important;
				background: transparent !important;
				font-weight: 700;
				font-size: ($font-size-base * 0.75) !important;
			}
		}
	}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}