/* ==========================================================================
   PLUGINS: BUDDYPRESS - ACTIVITY
   ========================================================================== */

.activity {
	
	#buddypress {
				
		form#whats-new-form {
			
			margin-top: 0 !important;
			
			#rtmedia-add-media-button-post-update {
				background: #fff;
				border: 1px solid #ccc;
			}
		}
		
		#template-notices {
			
		}
		
		.item-list-tabs {
			
		}
		
		#subnav {
			
			.feed {
				
				a {
									
					font-size: 0;
					color: #fff;
					
					&:before {
						content: '\f09e';
						font-family: 'FontAwesome';
						color: #ff502e;
						font-size: 15px;
					}
				}			
			}
			
			#activity-filter-by {
				@extend .bp-styled-select;
			}
		}
		
		.activity {
			
		}
	}
}	





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}