.fg-text-link {
	color: #009cd9;
	text-decoration: none !important;
}

.fg-intro {
	color: #053746 !important;
	font-family: "Montserrat";
	font-size: 16px;
	line-height: 22.85px;
}

.fg-post-title {
	color: #b3589d;
	font-family: "Montserrat";
	font-size: 50px;
	font-weight: 700;
	line-height: 55px;
}

.fg-paragraph {
	color: #44737d;
	font-family: "Montserrat";
	font-size: 16px;
	line-height: 22.85px;
	margin-bottom: 10px;
}

.fg-paragraph-header {
	color: #053746;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 700;
	line-height: 22.85px;
}

.fg-quote {
	color: #b3589d;
	font-family: "Montserrat";
	font-size: 16px;
	line-height: 22.85px;
}

.fg-footer {
	color: #053746;
	font-family: "Montserrat";
	font-size: 16px;
	line-height: 22.85px;
}