/* ==========================================================================
   WP CLASSES: POST FORMATS
   ========================================================================== */


.format-link,
.format-image,
.format-audio,
.format-video,
.format-quote {
	
	display: block;
	padding: 50px;
	background: $gray-lighter;
	border-radius: 32px 16px 64px/8px 48px;
	overflow: hidden;
	word-wrap: break-word;
	
	.post-meta,
	.post-thumbnail,
	.post-title,
	.hellip,
	.read-more {
		display: none !important;
	}
}


.format-image,
.format-audio,
.format-video {
	
	p {
		@extend figcaption;
	}
}


.format-link {
	
	p {
		
		display: flex;
		align-items: center;
		
		&:before {
			font-family: $fg-icon-font-name;
			content: '\f0c1';
			margin-right: 20px;
			font-size: 48px !important;
		}
	}
	
	p:nth-child(4) {
		display: none !important;
	}
	
	a {
		font-size: 24px;
		font-weight: 300;
		line-height: 1.2;
	}
}


.format-quote {
	
	font-size: 22px;
	font-style: italic;
	line-height: 1.3;
	
	.post-meta {
		display: none;
	}
	
	blockquote {
		
		display: flex;
		margin-left: 0;
		margin-right: 0;
		
		&:before,
		&:after {
			font-family: $fg-icon-font-name;
			color: #000;
			font-size: 40px;
		}
			
		&:before {
			content: '\f10d';
			padding-right: 20px;
		}
		
		&:after {
			content: '\f10e';
			padding-left: 20px;
		}	
	}
}


.format-video {
	
	p {
		
		display: flex;
		align-items: center;
	}
}  


.format-audio {
	
	p {
		
		display: flex;
		align-items: center;
		
/*
		&:before {
			font-family: $fg-icon-font-name;
			content: '\f028';
			padding-right: 20px;
			font-size: 40px;
			color: #000;
		}
*/
	}
	
	p:nth-child(4) {
		display: none !important;
	}
}  


.format-status {
	
	display: block;
	padding: 50px;
	background: $gray-lighter;
	border-radius: 32px 16px 64px/8px 48px;
	
	.post-thumbnail,
	.hellip {
		display: none !important;
	}
	
	.has-content-area {
		display: flex;
		align-self: center;
	}
	
	.post-entry {
		
		display: flex;
		justify-content: center;
		
		flex-direction: column;
	
		.post-title {
			display: none;
			font-size: 18px !important;
		}
		
		.post-meta {
			display: none;
			border-bottom: 1px solid #ccc;
			margin: 0 0 15px;
		}
		
		iframe {
			
			margin: auto;
			
			& + p,
			& + p + span + a,
			& + p + span + a + a {
				display: none !important;
			}
		}
		
		.read-more {
			display: inline-block;
			float: right;
			margin-top: 10px;
		}
	}
}



 
.format-image {}

.format-standard {}

.format-gallery {}

.format-aside {}

.format-chat {} 
 
 
 
 
 
 /* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {

	.format-link,
	.format-image,
	.format-audio,
	.format-video,
	.format-quote,
	.format-status {
		padding: 20px;
	}
	
	.format-quote {
		
		font-size: 18px;

		blockquote {
			
			&:before,
			&:after {
				font-size: 30px;
			}
				
			&:before {
				padding-right: 15px;
			}
			
			&:after {
				padding-left: 15px;
			}	
		}
	}	
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}