/* ==========================================================================
   SECTION: AUTHOR PAGE HEADER
   ========================================================================== */

#include-author-page-header {
	
	@include clearfix();
	
	margin-bottom: $fg-section-space;
	text-align: center;
	
	.avatar {
		border-radius: 50%;
		margin: auto;
	}
	
	#autor-description {
		padding: 25px 150px;
		text-align: center;
		font-size: ( $fg-font-size-base - 2 );
		
		&.left,
		&.right {
			padding: 25px 70px;
		}
		
		&.leftright {
			padding: 50px;
		}
	}
}

	
#include-articles-by {
	text-align: center;
	padding: 15px 0;
	margin-bottom: $fg-section-space;
	border-bottom: 1px solid $gray-lighter;
	border-top: 1px solid $gray-lighter;
	font-size: $fg-font-size-l;
}






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {
	
	#include-author-page-header {
		
		#autor-description {
			
			padding: 25px 100px;
			
			&.left,
			&.right {
				padding: 25px;
			}
		}
	}
}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	#include-author-page-header {
		
		#autor-description {
			
			padding: 25px 0;
			
			&.left,
			&.right {
				padding: 25px 0;
			}
			
			&.leftright {
				padding: 25px 0;
			}
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}