/* ==========================================================================
   SECTION: AUTHOR META
   ========================================================================== */

#include-author-meta {
	
	text-align: center;
	
	li { 
		
		float: none;
		font-size: 13px;
		margin: 0 15px 0 0;
		display: inline-block;
		list-style: none;
		
		&:last-of-type {
			margin: 0;
		}
		
		&:before {
			font-family: $fg-icon-font-name;
			padding-right: 5px;
			font-size: 15px;
		}
	}
	
	#author-twitter:before { content: '\f099';}
	#author-facebook:before { content: '\f09a'; }
	#author-google:before { content: '\f0d5'; }
	#author-linkedin:before { content: '\f0e1'; }
	#author-website:before { content: '\f0c1'; }
	#author-email:before { content: '\f1fa'; }
	#author-rss:before { content: '\f09e'; }
}







/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}
