/* ==========================================================================
   MIXINS
   ========================================================================== */
 
/*----- CLEARFIX -----*/
  
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


/*----- CENTRE ALIGN -----*/

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*----- HIDE TEXT -----*/

@mixin text-hide() {
  font: #{0/0} a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


/*----- RESPONSIVE IMAGES -----*/

@mixin img-responsive( $display: block ) {
  display: $display;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}


/*----- OPACITY -----*/

@mixin opacity( $opacity ) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}


/*----- TEXT OVERFLOW -----*/
// Requires display inline-block or block

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*----- TEXT SELECT -----*/

@mixin user-select( $select ) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select;
          user-select: $select;
}


/*----- TAB FOCUS -----*/

@mixin tab-focus() {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


/*----- BOX-SIZING -----*/

@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}
