/* ==========================================================================
   RESPONSIVE VARIABLES
   ========================================================================== */

// Extra small screen / phone
$screen-xs:                 480px 								!default;
$screen-xs-min:             $screen-xs 							!default;

// Small screen / tablet
$screen-sm:                 768px 								!default;
$screen-sm-min:             $screen-sm 							!default;

// Medium screen / desktop
$screen-md:                 992px 								!default;
$screen-md-min:             $screen-md 							!default;

// Large screen / wide desktop
$screen-lg:                 1200px 								!default;
$screen-lg-min:             $screen-lg 							!default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:             ( $screen-sm-min - 1 ) 				!default;
$screen-sm-max:             ( $screen-md-min - 1 ) 				!default;
$screen-md-max:				( $screen-lg-min - 1 ) 				!default;


/*----- GRID -----*/

// Number of columns
$grid-columns:              12 									!default;

// Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px 								!default;


/*----- CONTAINER -----*/

// Small screen / mobile
$fg-container-mobile:        ( 440px + $grid-gutter-width ) 	!default;

// $screen-xs-min` and up.
$fg-container-xs:            $fg-container-mobile 				!default;

// Small screen / tablet
$container-tablet:        	( 720px + $grid-gutter-width ) 		!default;

// $screen-sm-min` and up.
$container-sm:              $container-tablet 					!default;

// Medium screen / desktop
$container-desktop:         ( 840px + $grid-gutter-width ) 		!default;

// $screen-md-min` and up.
$container-md:              $container-desktop 					!default;

// large screen / wide desktop
$container-large-desktop:   ( 1140px + $grid-gutter-width ) 	!default;

// `$screen-lg-min` and up.
$container-lg:              $container-large-desktop 			!default;
