/* ==========================================================================
   FONTS
   ========================================================================== */ 


/* LATO */

// @link  https://fonts.google.com/specimen/Lato

// @import url('https://fonts.googleapis.com/css?family=Lato');
// @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');


// @import '../../fonts/Lato/LatoHairline';
// @import '../../fonts/Lato/LatoLight';
@import '../../fonts/Lato/LatoRegular';
// @import '../../fonts/Lato/LatoBold';
// @import '../../fonts/Lato/LatoBlack';

// @import '../../fonts/Lato/LatoHairlineItalic';
// @import '../../fonts/Lato/LatoLightItalic';
// @import '../../fonts/Lato/LatoItalic';
// @import '../../fonts/Lato/LatoBoldItalic';
// @import '../../fonts/Lato/LatoBlackItalic';



/* OPEN SANS */

// @link  https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans

// @import url('https://fonts.googleapis.com/css?family=Open+Sans');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
   

// @import '../../fonts/OpenSans/OpenSansLight'; 
// @import '../../fonts/OpenSans/OpenSansRegular';
// @import '../../fonts/OpenSans/OpenSansSemibold'; 
// @import '../../fonts/OpenSans/OpenSansBold';
// @import '../../fonts/OpenSans/OpenSansExtrabold';

// @import '../../fonts/OpenSans/OpenSansLightItalic';
// @import '../../fonts/OpenSans/OpenSansItalic';
// @import '../../fonts/OpenSans/OpenSansSemiboldItalic';
// @import '../../fonts/OpenSans/OpenSansBoldItalic';
// @import '../../fonts/OpenSans/OpenSansExtraboldItalic';

// @import '../../fonts/OpenSans/OpenSansCondensedLight';
// @import '../../fonts/OpenSans/OpenSansCondensedBold';

// @import '../../fonts/OpenSans/OpenSansCondensedLightItalic';



/* ROBOTO */

// @link  https://fonts.google.com/specimen/Roboto
// @link  https://github.com/google/roboto/

// @import url('https://fonts.googleapis.com/css?family=Roboto');
// @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


// @import '../../fonts/Roboto/RobotoThin'; 
// @import '../../fonts/Roboto/RobotoLight'; 
// @import '../../fonts/Roboto/RobotoRegular'; 
// @import '../../fonts/Roboto/RobotoMedium'; 
// @import '../../fonts/Roboto/RobotoBold'; 
// @import '../../fonts/Roboto/RobotoBlack'; 

// @import '../../fonts/Roboto/RobotoThinItalic'; 
// @import '../../fonts/Roboto/RobotoLightItalic'; 
// @import '../../fonts/Roboto/RobotoItalic';
// @import '../../fonts/Roboto/RobotoMediumItalic'; 
// @import '../../fonts/Roboto/RobotoBoldItalic'; 
// @import '../../fonts/Roboto/RobotoBlackItalic'; 

// @import '../../fonts/Roboto/RobotoCondensedLight'; 
// @import '../../fonts/Roboto/RobotoCondensedRegular'; 
// @import '../../fonts/Roboto/RobotoCondensedBold'; 

// @import '../../fonts/Roboto/RobotoCondensedLightItalic';
// @import '../../fonts/Roboto/RobotoCondensedItalic'; 
// @import '../../fonts/Roboto/RobotoCondensedBoldItalic'; 



/* MERRIWEATHER */

// @link  https://fonts.google.com/specimen/Merriweather

// @import url('https://fonts.googleapis.com/css?family=Merriweather');
// @import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');
 
 
// @import '../../fonts/Merriweather/MerriweatherLight';
@import '../../fonts/Merriweather/MerriweatherRegular';
// @import '../../fonts/Merriweather/MerriweatherBold';
// @import '../../fonts/Merriweather/MerriweatherBlack';

// @import '../../fonts/Merriweather/MerriweatherLightItalic';
// @import '../../fonts/Merriweather/MerriweatherItalic';
// @import '../../fonts/Merriweather/MerriweatherBoldItalic';
// @import '../../fonts/Merriweather/MerriweatherHeavyItalic';



/* ROBOTO MONO */

// @link  https://fonts.google.com/specimen/Roboto+Mono

// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
// @import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');

// @import '../../fonts/RobotoMono/RobotoMonoThin'; 
// @import '../../fonts/RobotoMono/RobotoMonoLight'; 
@import '../../fonts/RobotoMono/RobotoMonoRegular';
// @import '../../fonts/RobotoMono/RobotoMonoMedium'; 
// @import '../../fonts/RobotoMono/RobotoMonoBold'; 

// @import '../../fonts/RobotoMono/RobotoMonoThinItalic'; 
// @import '../../fonts/RobotoMono/RobotoMonoLightItalic';
// @import '../../fonts/RobotoMono/RobotoMonoItalic'; 
// @import '../../fonts/RobotoMono/RobotoMonoMediumItalic';  
// @import '../../fonts/RobotoMono/RobotoMonoBoldItalic'; 



/* FONT AWESOME */

@import '../../fonts/FontAwesome/FontAwesome';

// @import '../../bower/fontawesome/scss/animated';
// @import '../../bower/fontawesome/scss/bordered-pulled';
// @import '../../bower/fontawesome/scss/core';
// @import '../../bower/fontawesome/scss/fixed-width';
// @import '../../bower/fontawesome/scss/icons';
// @import '../../bower/fontawesome/scss/larger';
// @import '../../bower/fontawesome/scss/list';
// @import '../../bower/fontawesome/scss/mixins';
// @import '../../bower/fontawesome/scss/path';
// @import '../../bower/fontawesome/scss/rotated-flipped';
// @import '../../bower/fontawesome/scss/screen-reader';
// @import '../../bower/fontawesome/scss/stacked';
// @import '../../bower/fontawesome/scss/variables';



/* DASHICONS */

// @import '../../fonts/Dashicons/Dashicons';



/* PAPYRUS */

@import '../../fonts/Papyrus/Papyrus';



/* AMPERSAND */

@import '../../fonts/Ampersand/Ampersand';

