/* ==========================================================================
   LAYOUT - VARIABLES
   ========================================================================== */

/*----- PADDING -----*/

$padding-base-vertical:     		6px 									!default;
$padding-base-horizontal:   		12px 									!default;

$padding-large-vertical:    		10px 									!default;
$padding-large-horizontal:  		16px 									!default;

$padding-small-vertical:    		5px 									!default;
$padding-small-horizontal:  		10px 									!default;

$padding-xs-vertical:       		1px 									!default;
$padding-xs-horizontal:     		5px 									!default;


/*----- BORDER RADIUS -----*/

$border-radius-base:        		4px 									!default;
$border-radius-small:       		3px 									!default;
$border-radius-large:       		6px 									!default;
$border-radius-xl:       			12px 									!default;

$border-radius-fancy:        		32px 16px 64px/8px 48px 				!default;


/*----- POST ENTRY ELEMENT SPACING -----*/
// lists, p, form input, labels, hr, ...

$fg-post-entry-space:				15px 									!default;
$fg-post-entry-xs:     				( $fg-post-entry-space / 3 ) 			!default; // 5px
$fg-post-entry-s:     				( ( $fg-post-entry-space / 3 ) * 2 ) 	!default; // 10px
$fg-post-entry-l:     				( $fg-post-entry-s * 2 ) 				!default; // 20px


/*----- SECTION SPACING -----*/
// post navigation, author box, commenting, pagination, author page

$fg-section-space:     				50px 									!default;
$fg-section-space-s:     			( $fg-section-space / 2 ) 				!default; // 25px
$fg-section-space-m:     			( ( $fg-section-space / 2 ) * 3 ) 		!default; // 75px
$fg-section-space-l:     			( $fg-section-space * 2 ) 				!default; // 100px


/*----- Z-INDEX -----*/

// Info: https://css-tricks.com/handling-z-index/

$zindex: (
  modal     	: 11000, 
  overlay   	: 10000,
  siteheader  	: 7000,
  page  		: 6000,
  
  above-conent	: 4000,
  main   		: 3000,
  below-conent	: 2000,
  
  pageheader	: 900,
  content-wrap	: 800,
  
  content   	: 600,
  sidebar  		: 500,
  
  sidebarleft  	: 300,
  sidebarright 	: 200,
  
  footer  		: 1,
);


@function z( $label ) {
    @return map-get( $zindex, $label );
}