/* ==========================================================================
   TEMPLATE: SEARCH TITLE
   ========================================================================== */

#include-search-title {
	
	text-align: center;
	margin-bottom: $fg-section-space;	

	
	h3 {
		display: inline-block;
		font-size: 22px;
		margin: 0;
		
		position: relative;
		padding-bottom: 10px;
		
		&:after {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 120px;
			height: 3px;
			margin-left: -60px;
			content: "";
			color: #fff;
			background-color: $gray-dark;;
		}
		
		span {
			color: #000;
		}
		
		strong {
			color: $gray-light;
		}
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}