/* ==========================================================================
   SECTION: SEARCH AGAIN
   ========================================================================== */

#include-search-again {
	
	box-sizing: border-box;
	width: 100%;
	margin-top: $fg-section-space-m;
	padding: 50px; 
	background: $gray-lighter; 
	font-size: ( $fg-font-size-base - 2 );
	line-height: 1.2;
	border-radius: $border-radius-fancy;
	
	form {
		margin-top: 10px;
	}
	
	#search-filter {
		
		@include clearfix();
		
		text-align: center;
		
		label,
		.search-submit {
			display: inline-block;
		}
		
		span {
			font-weight: 700;
		}
		
		label {
			margin-right: 5px;
			font-weight: 400;
		}
		
		.search-submit {
			margin-top: 0;
			float: right;
		}
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
	
	#include-search-again {
		display: none !important;
	}
}