@font-face {
    font-family: 'LatoHairline';
    src: url('../fonts/Lato/Lato-Hairline-webfont.eot');
    src: url('../fonts/Lato/Lato-Hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-Hairline-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-Hairline-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-Hairline-webfont.svg#LatoHairline') format('svg');
    font-weight: normal;
    font-style: normal;

}