@font-face {
    font-family: 'LatoBoldItalic';
    src: url('../fonts/Lato/Lato-BoldItalic-webfont.eot');
    src: url('../fonts/Lato/Lato-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-BoldItalic-webfont.svg#LatoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}