@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato/Lato-Bold-webfont.eot');
    src: url('../fonts/Lato/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-Bold-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-Bold-webfont.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}