@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/Lato/Lato-Regular-webfont.eot');
    src: url('../fonts/Lato/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-Regular-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-Regular-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}