@font-face {
    font-family: 'LatoHairlineItalic';
    src: url('../fonts/Lato/Lato-HairlineItalic-webfont.eot');
    src: url('../fonts/Lato/Lato-HairlineItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/Lato-HairlineItalic-webfont.woff') format('woff'),
         url('../fonts/Lato/Lato-HairlineItalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/Lato-HairlineItalic-webfont.svg#LatoHairlineItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}