/* ==========================================================================
   SECTION: BLOG LAYOUT - IMAGE SIDE
   ========================================================================== */

$fg-thumbnail-width:						180px						!default;
$fg-thumbnail-height:						180px						!default;
$fg-post-spacing: 							$fg-section-space			!default;

$fg-thumbnail-mobile-height:				150px						!default;


// post meta is in /single

.blog,
.archive,
.search-results,
.custom-query {

	article {
		@include clearfix();
		// important for the7 ovveride
		margin-bottom: $fg-post-spacing !important;
		display: flex;
		justify-content: flex-start;
		
		// image right
		// flex-direction: row-reverse;
	}
	
	
	// STICKY POSTS
	
	.sticky {
			
		padding: 25px;
		background: $fg-gray-f1;
		background: $gray-lighter;
		border-radius: $border-radius-fancy;
		
		.include-post-thumbnail { 
			
			a {
				border-radius: $border-radius-fancy;
			}
			
			.no-thumbnail {
				background-color: $fg-gray-f1;
			}
		}			
	}
	
	
	// THUMBNAIL
	
	.include-post-thumbnail {
		
		margin-right: 25px;
		
		// image right
		// margin-left: 25px;
		
		a {
			
			// !important required because bg image is inline
			display: block;
			width: $fg-thumbnail-width !important;
			height: $fg-thumbnail-height !important;
			background-size: $fg-thumbnail-width $fg-thumbnail-height !important;
			background-repeat: no-repeat !important;
			background-position: center center !important;
			
			transition: background-size 1s ease 0s; 
			
			img {
				opacity: 0;
			}
			
			&:hover {
				background-size: ( $fg-thumbnail-width * 1.2 ) ( $fg-thumbnail-height * 1.2 ) !important;
			}
			
			&.no-thumbnail {
				
				background-size: 80px 80px !important;
				background-color: $gray-lighter !important;
				
				&:hover {
					background-size: 100px 100px !important;
				}
			}
		}
	}
	
	// no thumbnail for pages in search results
	.type-page {
		
		.include-post-thumbnail {
			display: none;
		}
	}
	
	
	// EXCERPT
	
	.post-entry {
		
		flex: 1;
		overflow: hidden;
					
		.post-title, {
			
			margin-top: 0;
			
			p {
				margin: 0;
				overflow: hidden;
				word-wrap: break-word;
			}
		}
		
		.read-more {
			
			font-size: $fg-font-size-s;
			font-weight: 700;
			display: inline-block;
			
			transition: all 0.3s ease 0s; 
			
			&:hover {
				margin-left: 10px;
			}
			
			& + span,
			& + span + .read-more {
				display: none;
			}
		}
	}
}







/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.blog,
	.archive,
	.search-results {
		
		article {
			display: block;
		}
		
		
		// THUMBNAIL
		
		.include-post-thumbnail {
			
			margin-right: 0;
			margin-bottom: 25px;
			width: 100%;
			
			a {
				
				display: block;
				width: 100% !important;
				height: $fg-thumbnail-mobile-height;
				background-size: 100% auto !important;
				
				&:hover {
					background-size: 120% auto !important;
				}
			}
		}
		
		
		// EXCERPT
		
		.post-entry {
			width: 100%;
		}
	}	
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
	
	.post-thumbnail,
	.read-more {
		display: none !important;
	}
}
