/* ==========================================================================
   TEMPLATE: NON SINGULAR PAGES
   ========================================================================== */

.blog,
.search,
.archive,
.error404 {
	
	.sidebar-none {
	
	}
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {

	.blog,
	.search,
	.archive,
	.error404 {
		
		&.sidebar-none {
			
			#content {
				padding: 0 50px;
			}
		}
	}
}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {

	.blog,
	.search,
	.archive,
	.error404 {
		
		&.sidebar-none {
			
			#content {
				padding: 0 100px;
			}
		}
	}
}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {

	.blog,
	.search,
	.archive,
	.error404 {
		
		&.sidebar-none {
			
			#content {
				padding: 0 150px;
			}
		}
	}
}




/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}








/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}