/* ==========================================================================
   SECTION: COMMENTS FORM
   ========================================================================== */

h3#reply-title {
	margin-bottom: 35px;
}


#commentform {
	
	margin-top: $fg-post-entry-space;
	margin-bottom: $fg-post-entry-space;
	
	.comment-notes,
	.logged-in-as {
		text-align: center;
	}
	
	.comment-form-comment {
		
		label {
			display: none;
		}
		
		#comment {
// 			border: 1px solid #f1f1f1;
		}
	}
	
	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		width: 31.33333333333333%;
		float: left;
	}
	
	.comment-form-author,
	.comment-form-email {
		
		.required {
			position: relative;
			top: -6px;
			left: -6px;
			font-family: 11px;
		}
	}
	
	.comment-form-author {
		margin: 0;
	}
	
	.comment-form-email {
		margin: 0 3%;
	}
	
	.comment-form-url {
		margin: 0;
	}
	
	.form-submit {}
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {	
	
	#commentform {
		
		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			min-width: 100%;
			margin: 5px 0;
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}
