@font-face {
    font-family: 'MerriweatherRegular';
    src: url('../fonts/Merriweather/merriweather-regular-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-regular-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-regular-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-regular-webfont.svg#MerriweatherRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}