@font-face {
    font-family: 'MerriweatherHeavyItalic';
    src: url('../fonts/Merriweather/merriweather-heavyitalic-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-heavyitalic-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-heavyitalic-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-heavyitalic-webfont.svg#MerriweatherHeavyItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}