@font-face {
    font-family: 'MerriweatherBoldItalic';
    src: url('../fonts/Merriweather/merriweather-bolditalic-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-bolditalic-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-bolditalic-webfont.svg#MerriweatherBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}