@font-face {
    font-family: 'MerriweatherBlack';
    src: url('../fonts/Merriweather/merriweather-black-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-black-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-black-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-black-webfont.svg#MerriweatherBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}