@font-face {
    font-family: 'MerriweatherLightItalic';
    src: url('../fonts/Merriweather/merriweather-lightitalic-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather-lightitalic-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-lightitalic-webfont.svg#MerriweatherLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}