@charset "UTF-8";
/* ==========================================================================
   1 - BASE
   ========================================================================== */
/*
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
*/
/* ==========================================================================
   MIXINS
   ========================================================================== */
/*----- CLEARFIX -----*/
/*----- CENTRE ALIGN -----*/
/*----- HIDE TEXT -----*/
/*----- RESPONSIVE IMAGES -----*/
/*----- OPACITY -----*/
/*----- TEXT OVERFLOW -----*/
/*----- TEXT SELECT -----*/
/*----- TAB FOCUS -----*/
/*----- BOX-SIZING -----*/
/* ==========================================================================
   RESPONSIVE VARIABLES
   ========================================================================== */
/*----- GRID -----*/
/*----- CONTAINER -----*/
/* @import "1-base/5-fonts"; */
/* ==========================================================================
   COLORS
   ========================================================================== */
/*----- GRAY -----*/
/*----- SCAFFOLDING -----*/
/*----- CLIENT -----*/
/*----- BRAND -----*/
/*----- SOCIAL -----*/
/*----- TEXT SELECTION -----*/
/*
::-moz-selection { background: $gray-lighter; color: $gray-darker; text-shadow: none; }
::selection { background: $gray-lighter; color: $gray-darker; text-shadow: none; }
*/
/* line 66, ../sass/1-base/_6-colors.scss */
::-moz-selection {
  background: #f28d00;
  color: #fff;
  text-shadow: none;
}

/* line 67, ../sass/1-base/_6-colors.scss */
::selection {
  background: #f28d00;
  color: #fff;
  text-shadow: none;
}

/* ==========================================================================
   LAYOUT - VARIABLES
   ========================================================================== */
/*----- PADDING -----*/
/*----- BORDER RADIUS -----*/
/*----- POST ENTRY ELEMENT SPACING -----*/
/*----- SECTION SPACING -----*/
/*----- Z-INDEX -----*/
/* ==========================================================================
   LAYOUT - CLASSES
   ========================================================================== */
/* line 8, ../sass/1-base/_2-mixins.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 13, ../sass/1-base/_2-mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 10, ../sass/1-base/_7-layout-classes.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 14, ../sass/1-base/_7-layout-classes.scss */
.pull-right {
  float: right !important;
}

/* line 18, ../sass/1-base/_7-layout-classes.scss */
.pull-left {
  float: left !important;
}

/* line 22, ../sass/1-base/_7-layout-classes.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 27, ../sass/1-base/_7-layout-classes.scss */
.hide {
  display: none !important;
}

/* line 31, ../sass/1-base/_7-layout-classes.scss */
.show {
  display: block !important;
}

/* line 35, ../sass/1-base/_7-layout-classes.scss */
.invisible {
  visibility: hidden;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (768px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* ==========================================================================
   TYPOGRAPHY - VARIABLES
   ========================================================================== */
/* Font Family */
/* Font Size */
/* Line Height */
/* Headings */
/* Colors */
/* ==========================================================================
   TYPOGRAPHY - CLASSES
   ========================================================================== */
/*----- HEADINGS -----*/
/* line 7, ../sass/1-base/_8-typography-classes.scss */
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: RobotoMonoRegular, Menlo, Monaco, "Courier New", monospace;
  font-weight: 700;
  line-height: 1.2;
  color: #1a1a1a;
}
/* line 16, ../sass/1-base/_8-typography-classes.scss */
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #b3b3b3;
}

/* line 24, ../sass/1-base/_8-typography-classes.scss */
.h4, .h5, .h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 29, ../sass/1-base/_8-typography-classes.scss */
.h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-size: 75%;
}

/* line 35, ../sass/1-base/_8-typography-classes.scss */
.h1 {
  font-size: 41px;
}

/* line 36, ../sass/1-base/_8-typography-classes.scss */
.h2 {
  font-size: 34px;
}

/* line 37, ../sass/1-base/_8-typography-classes.scss */
.h3 {
  font-size: 28px;
}

/* line 38, ../sass/1-base/_8-typography-classes.scss */
.h4 {
  font-size: 20px;
}

/* line 39, ../sass/1-base/_8-typography-classes.scss */
.h5 {
  font-size: 16px;
}

/* line 40, ../sass/1-base/_8-typography-classes.scss */
.h6 {
  font-size: 14px;
}

/* line 43, ../sass/1-base/_8-typography-classes.scss */
.small {
  font-size: 81%;
}

/* line 48, ../sass/1-base/_8-typography-classes.scss */
.mark {
  background-color: #f6f0a3;
  padding: 0 6px;
}

/* hide text */
/* line 55, ../sass/1-base/_8-typography-classes.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* Fancy & Ampersand */
/* line 61, ../sass/1-base/_8-typography-classes.scss */
.amp {
  font-family: 'Papyrus', Baskerville, Palatino, "Book Antiqua", serif;
  font-style: normal;
  font-weight: normal;
}

/* ==========================================================================
   BLOCKQUOTE
   ========================================================================== */
/*----- VARIABLES -----*/
/* line 90, ../sass/1-base/_8-typography-classes.scss */
.inc-blockquote {
  position: relative;
  margin: 25px;
  padding: 40px 20px 40px 80px;
  quotes: "“" "”";
  text-align: left;
  font-family: Ampersand, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.6;
  color: #b3b3b3;
}
/* line 103, ../sass/1-base/_8-typography-classes.scss */
.inc-blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  content: open-quote;
  font-family: MerriweatherRegular, Georgia, "Times New Roman", Times, serif;
  font-size: 120px;
  color: #de7531;
}
/* line 113, ../sass/1-base/_8-typography-classes.scss */
.inc-blockquote:after {
  display: none;
  content: close-quote;
}
/* line 118, ../sass/1-base/_8-typography-classes.scss */
.inc-blockquote cite {
  display: block;
  margin-top: 10px;
  text-align: left;
  font-family: LatoRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: gray;
}
/* line 130, ../sass/1-base/_8-typography-classes.scss */
.inc-blockquote cite a,
.inc-blockquote cite span {
  text-decoration: none;
  color: gray;
}
/* line 138, ../sass/1-base/_8-typography-classes.scss */
.inc-blockquote::-moz-selection {
  background: #de7531;
  color: #fff;
  text-shadow: none;
}
/* line 139, ../sass/1-base/_8-typography-classes.scss */
.inc-blockquote::selection {
  background: #de7531;
  color: #fff;
  text-shadow: none;
}
/* line 140, ../sass/1-base/_8-typography-classes.scss */
.inc-blockquote *::-moz-selection {
  background: #de7531;
  color: #fff;
  text-shadow: none;
}
/* line 141, ../sass/1-base/_8-typography-classes.scss */
.inc-blockquote *::selection {
  background: #de7531;
  color: #fff;
  text-shadow: none;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
@media (max-width: 480px) {
  /* line 172, ../sass/1-base/_8-typography-classes.scss */
  .inc-blockquote {
    margin: 15px 0;
    padding: 30px 20px 0 60px;
    font-size: 24px;
    line-height: 1.6;
  }
  /* line 179, ../sass/1-base/_8-typography-classes.scss */
  .inc-blockquote::before {
    font-size: 90px;
  }
}
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* ==========================================================================
   LISTS - VARIABLES
   ========================================================================== */
/* ul */
/* ol */
/* dl */
/* icon */
/* circle: f111 - circle-o: f10c - square: f0c8 - square-o: f096 */
/* ==========================================================================
   LISTS - CLASSES
   ========================================================================== */
/* Unstyled List */
/* line 6, ../sass/1-base/_9-lists-classes.scss */
.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none;
}

/* Inline List */
/* line 13, ../sass/1-base/_9-lists-classes.scss */
.list-inline {
  margin-left: -5px;
}
/* line 18, ../sass/1-base/_9-lists-classes.scss */
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

/*----- ICON LISTS -----*/
/* line 29, ../sass/1-base/_9-lists-classes.scss */
.iconlist, .widget:not(.widget_ultimate_posts):not(.widget_rss) ul {
  padding: 0;
}
/* line 33, ../sass/1-base/_9-lists-classes.scss */
.iconlist li, .widget:not(.widget_ultimate_posts):not(.widget_rss) ul li {
  list-style: none;
  padding-left: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 40, ../sass/1-base/_9-lists-classes.scss */
.iconlist li:before, .widget:not(.widget_ultimate_posts):not(.widget_rss) ul li:before {
  display: inline-block;
  width: 16px;
  margin-left: -16px;
  content: "";
  font-family: "FontAwesome";
  font-size: 16px;
  color: #b3b3b3;
}
/* line 50, ../sass/1-base/_9-lists-classes.scss */
.iconlist li:first-of-type, .widget:not(.widget_ultimate_posts):not(.widget_rss) ul li:first-of-type {
  padding-top: 0;
}
/* line 54, ../sass/1-base/_9-lists-classes.scss */
.iconlist li:last-of-type, .widget:not(.widget_ultimate_posts):not(.widget_rss) ul li:last-of-type {
  padding-bottom: 0;
}
/* line 60, ../sass/1-base/_9-lists-classes.scss */
.iconlist li li:first-of-type, .widget:not(.widget_ultimate_posts):not(.widget_rss) ul li li:first-of-type {
  padding-top: 0;
}
/* line 64, ../sass/1-base/_9-lists-classes.scss */
.iconlist li li:last-of-type, .widget:not(.widget_ultimate_posts):not(.widget_rss) ul li li:last-of-type {
  padding-bottom: 0;
}
/* line 69, ../sass/1-base/_9-lists-classes.scss */
.iconlist li ul, .widget:not(.widget_ultimate_posts):not(.widget_rss) ul li ul,
.iconlist li ol,
.widget:not(.widget_ultimate_posts):not(.widget_rss) ul li ol {
  padding-top: 5px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 79, ../sass/1-base/_9-lists-classes.scss */
.iconlist li ol li, .widget:not(.widget_ultimate_posts):not(.widget_rss) ul li ol li {
  list-style-type: upper-roman;
  padding-left: 0;
}
/* line 84, ../sass/1-base/_9-lists-classes.scss */
.iconlist li ol li:before, .widget:not(.widget_ultimate_posts):not(.widget_rss) ul li ol li:before {
  display: none;
}
/* line 91, ../sass/1-base/_9-lists-classes.scss */
.iconlist li ol ol li, .widget:not(.widget_ultimate_posts):not(.widget_rss) ul li ol ol li {
  list-style-type: lower-roman;
}

/*----- IMAGE ICON LISTS -----*/
/* line 103, ../sass/1-base/_9-lists-classes.scss */
.imagelist {
  padding: 0;
}
/* line 107, ../sass/1-base/_9-lists-classes.scss */
.imagelist li {
  list-style: none;
  padding-left: 16px;
  margin-bottom: 7.5px;
}
/* line 113, ../sass/1-base/_9-lists-classes.scss */
.imagelist li:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: -16px;
  background: url(../images/icons/bull.png) no-repeat left top;
  background-size: 16px auto;
  content: "";
  position: relative;
  left: -10px;
  margin-bottom: -3px;
}

/*---------- HORIZONTAL DESCRIPTION LIST ----------*/
/* line 8, ../sass/1-base/_2-mixins.scss */
.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table;
}
/* line 13, ../sass/1-base/_2-mixins.scss */
.dl-horizontal dd:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 140, ../sass/1-base/_9-lists-classes.scss */
  .dl-horizontal dt {
    float: left;
    width: 175px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 147, ../sass/1-base/_9-lists-classes.scss */
  .dl-horizontal dd {
    margin-left: 200px;
  }
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* ==========================================================================
   TABLES - VARIABLES
   ========================================================================== */
/* Typography */
/* Layout */
/* Colors */
/* ==========================================================================
   TABLES - CLASSES
   ========================================================================== */
/*----- CONDENSED TABLES -----*/
/* line 19, ../sass/1-base/_10-tables-classes.scss */
.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

/*----- BORDERED TABLES -----*/
/* line 30, ../sass/1-base/_10-tables-classes.scss */
.table-bordered {
  border: 1px solid #e6e6e6;
}
/* line 38, ../sass/1-base/_10-tables-classes.scss */
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid #e6e6e6;
}
/* line 45, ../sass/1-base/_10-tables-classes.scss */
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

/*----- STRIPED TABLES -----*/
/* line 57, ../sass/1-base/_10-tables-classes.scss */
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: rgba(0, 0, 0, 0.05);
}

/*----- TABLE HOVER -----*/
/* line 69, ../sass/1-base/_10-tables-classes.scss */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.08);
}

/*----- RESPONSIVE TABLES -----*/
/* line 79, ../sass/1-base/_10-tables-classes.scss */
.table-responsive {
  overflow: scroll;
}
@media screen and (max-width: 767px) {
  /* line 79, ../sass/1-base/_10-tables-classes.scss */
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #e6e6e6;
    -webkit-overflow-scrolling: touch;
  }
  /* line 93, ../sass/1-base/_10-tables-classes.scss */
  .table-responsive > .table {
    margin-bottom: 0;
  }
  /* line 101, ../sass/1-base/_10-tables-classes.scss */
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  /* line 109, ../sass/1-base/_10-tables-classes.scss */
  .table-responsive > .table-bordered {
    border: 0;
  }
  /* line 117, ../sass/1-base/_10-tables-classes.scss */
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  /* line 121, ../sass/1-base/_10-tables-classes.scss */
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  /* line 131, ../sass/1-base/_10-tables-classes.scss */
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* ==========================================================================
   FORMS - VARIABLES
   ========================================================================== */
/* -- Default -- */
/* -- Label -- */
/* -- Input -- */
/* layout */
/* border */
/* background */
/* placeholder */
/* -- Textarea -- */
/* -- Radio / Check -- */
/* -- Submit -- */
/* -- Form Validation -- */
/* -- Legends -- */
/* -- Input Group -- */
/* ==========================================================================
   FORMS - CLASSES
   ========================================================================== */
/*---------- STYLED SELECT ----------*/
/* line 7, ../sass/1-base/_11-forms-classes.scss */
.styled-select, .widget select, .wpcf7 form p select {
  width: 100%;
  height: 34px;
  max-width: 100%;
  padding: 5px 10px;
  border: 2px solid #e6e6e6;
  border-radius: 0;
  font-size: 13.6px;
  background: rgba(255, 255, 255, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAICAYAAAASqmTuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANFJREFUeNpiPHr0aAsDA8MbKyurCQx4wLFjx5iAVCMQfwGq7WQgAoA0FAJxL1BzNgG1tUBcA8SpDEQCkOGRINcA8RSgBWk4XA0ytAGIn5JiOOP///9Bml2B7LVAzAvyCSyIoEHRBMTVQPwSiP2BcidJcTkDUMNuIBUBxB+BuAdoaDJUvgJqMMjFIaQYDHc5kvd9gdRCIOYH4u1A7A3Ez4E4DGjwEQYSAYrhUAs8gNQqaBCBgiIIaPAxBjIAE7oA0KAdQCoBiA8AcSy5BoMAQIABAAP+RzgQ0KsrAAAAAElFTkSuQmCC) no-repeat right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.5s;
}
/* line 25, ../sass/1-base/_11-forms-classes.scss */
.styled-select:focus, .widget select:focus, .wpcf7 form p select:focus {
  border: 2px solid gray;
  outline: none;
  box-shadow: none;
}
/* line 31, ../sass/1-base/_11-forms-classes.scss */
.styled-select option, .widget select option, .wpcf7 form p select option {
  padding: 5px;
}
/* line 35, ../sass/1-base/_11-forms-classes.scss */
.styled-select::-ms-expand, .widget select::-ms-expand, .wpcf7 form p select::-ms-expand {
  display: none;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
@media (max-width: 480px) {
  /* line 69, ../sass/1-base/_11-forms-classes.scss */
  .styled-select, .widget select, .wpcf7 form p select {
    background-position: 95% center;
  }
}
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* @import "1-base/13-print-defaults"; */
/* ==========================================================================
   2- PARENT THEME MODIFICATIONS
   ========================================================================== */
/* ==========================================================================
   SCAFFOLDING
   ========================================================================== */
/*----- DEFAULTS -----*/
/* line 8, ../sass/2-child-theme/the7/_scaffolding.scss */
mark {
  background-color: #f6f0a3 !important;
  padding: 0 5px;
}

/* hide scroll to top button */
/* line 15, ../sass/2-child-theme/the7/_scaffolding.scss */
.scroll-top {
  display: none !important;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
@media print {
  /* line 105, ../sass/2-child-theme/the7/_scaffolding.scss */
  .print-none {
    display: none !important;
  }
}
/* ==========================================================================
   SECTION: TOP-BAR
   ========================================================================== */
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
@media print {
  /* line 102, ../sass/2-child-theme/the7/_top-bar.scss */
  .top-bar {
    display: none !important;
  }
}
/* ==========================================================================
   SECTION: SITE HEADER
   ========================================================================== */
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
@media print {
  /* line 91, ../sass/2-child-theme/the7/_site-header.scss */
  .masthead {
    display: none !important;
  }
}
/* ==========================================================================
   SECTION: SITE MAIN
   ========================================================================== */
/* line 10, ../sass/2-child-theme/the7/_site-main.scss */
.page-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* line 16, ../sass/2-child-theme/the7/_site-main.scss */
#main {
  flex: 1;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
@media (max-width: 767px) {
  /* line 45, ../sass/2-child-theme/the7/_site-main.scss */
  #include-above-content .wf-wrap,
  #include-below-content .wf-wrap {
    padding: 0 20px;
  }
}
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* @import "2-child-theme/the7/page-header"; */
/* ==========================================================================
   SECTION: SITE FOOTER
   ========================================================================== */
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
@media print {
  /* line 93, ../sass/2-child-theme/the7/_site-footer.scss */
  #footer {
    display: none !important;
  }
}
/* ==========================================================================
   SECTION: BOTTOM BAR
   ========================================================================== */
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
@media print {
  /* line 89, ../sass/2-child-theme/the7/_bottom-bar.scss */
  #bottom_bar {
    display: none !important;
  }
}
/* ==========================================================================
   3- SECTIONS
   ========================================================================== */
/* @import "3-sections/blog/singular/related-posts"; */
/* ==========================================================================
   SECTION: WIDGETS
   ========================================================================== */
/* line 12, ../sass/3-sections/sidebar/_sidebar.scss */
.widget {
  padding: 25px 0;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  word-wrap: break-word;
}
/* line 21, ../sass/3-sections/sidebar/_sidebar.scss */
.widget .widget-title,
.widget .widgettitle {
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #e6e6e6;
  font-size: 14px;
  text-transform: uppercase;
  overflow: hidden;
  word-wrap: break-word;
}
/* line 32, ../sass/3-sections/sidebar/_sidebar.scss */
.widget:first-of-type {
  padding-top: 0;
}
/* line 36, ../sass/3-sections/sidebar/_sidebar.scss */
.widget:last-of-type {
  padding-bottom: 0;
}
/* line 48, ../sass/3-sections/sidebar/_sidebar.scss */
.widget ul,
.widget p:last-of-type,
.widget li:last-of-type,
.widget table,
.widget .table,
.widget form,
.widget button,
.widget input[type="submit"],
.widget input[type="reset"],
.widget input[type="text"],
.widget input[type="email"],
.widget textarea,
.widget select {
  margin-bottom: 0 !important;
}
/* line 63, ../sass/3-sections/sidebar/_sidebar.scss */
.widget input[type="text"],
.widget input[type="email"],
.widget textarea {
  width: 100% !important;
}
/* line 69, ../sass/3-sections/sidebar/_sidebar.scss */
.widget select {
  width: 98% !important;
  display: block;
  margin: 0 auto;
}

/* line 81, ../sass/3-sections/sidebar/_sidebar.scss */
#sidebar-left {
  padding-right: 25px;
}

/* line 85, ../sass/3-sections/sidebar/_sidebar.scss */
#sidebar-right {
  padding-left: 25px;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
@media (max-width: 767px) {
  /* line 103, ../sass/3-sections/sidebar/_sidebar.scss */
  #sidebar-left,
  #sidebar-right {
    padding-right: 15px;
    padding-left: 15px;
  }
}
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   TABLETS ONLY (between 768px and 991px)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS ONLY (between 992px and 1199px)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
@media print {
  /* line 176, ../sass/3-sections/sidebar/_sidebar.scss */
  #sidebar-right,
  #sidebar-left {
    display: none !important;
  }
}
/* ==========================================================================
   SECTION: RELATED POSTS
   ========================================================================== */
/* line 5, ../sass/3-sections/the7/blog/singular/_related-posts.scss */
.single-related-posts {
  border-bottom: none;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* @import "3-sections/the7/sidebar/widget-calendar"; */
/* @import "3-sections/the7/sidebar/widget-gallery"; */
/* @import "3-sections/the7/sidebar/widget-rss"; */
/* @import "3-sections/the7/sidebar/widget-search"; */
/* @import "3-sections/the7/sidebar/widget-tag-cloud"; */
/* ==========================================================================
   4 - UI
   ========================================================================== */
/* @import "4-ui/include/mouse-wheel"; */
/* ==========================================================================
   5 - PLUGINS
   ========================================================================== */
/* ==========================================================================
   PLUGIN: CONTACT FORM 7
   ========================================================================== */
/*----- VARIABLES -----*/
/* validation */
/*----- THE FORM -----*/
/* line 22, ../sass/5-plugins/_cf7.scss */
.wpcf7 form {
  /* -- Validation -- */
  /* input border color */
  /* not valid tip */
  /* file input */
  /* hide form warning */
  /* sucessfull submision confirmation message */
}
/* line 24, ../sass/5-plugins/_cf7.scss */
.wpcf7 form p {
  /* wrap for all form elements */
  /* radio & checkbox wrapper */
}
/* line 28, ../sass/5-plugins/_cf7.scss */
.wpcf7 form p label sup {
  color: #d9534f;
}
/* line 38, ../sass/5-plugins/_cf7.scss */
.wpcf7 form p .wpcf7-form-control-wrap {
  margin: 0 !important;
}
/* line 42, ../sass/5-plugins/_cf7.scss */
.wpcf7 form p input[type="text"],
.wpcf7 form p input[type="email"],
.wpcf7 form p .wpcf7-textarea {
  transition: all 0.3s ease 0s;
}
/* line 49, ../sass/5-plugins/_cf7.scss */
.wpcf7 form p .wpcf7-radio,
.wpcf7 form p .wpcf7-checkbox {
  display: block;
  margin: 5px 8px 5px 0;
  /* radio & checkbox item */
}
/* line 56, ../sass/5-plugins/_cf7.scss */
.wpcf7 form p .wpcf7-radio .wpcf7-list-item,
.wpcf7 form p .wpcf7-checkbox .wpcf7-list-item {
  display: block;
  margin: 0;
}
/* line 63, ../sass/5-plugins/_cf7.scss */
.wpcf7 form p .wpcf7-radio .wpcf7-list-item label label.error,
.wpcf7 form p .wpcf7-checkbox .wpcf7-list-item label label.error {
  display: none !important;
  /* cf7 real time validation bug */
}
/* line 68, ../sass/5-plugins/_cf7.scss */
.wpcf7 form p .wpcf7-radio .wpcf7-list-item .wpcf7-list-item-label,
.wpcf7 form p .wpcf7-checkbox .wpcf7-list-item .wpcf7-list-item-label {
  font-weight: normal;
}
/* line 81, ../sass/5-plugins/_cf7.scss */
.wpcf7 form .wpcf7-response-output .wpcf7-not-valid-tip-text,
.wpcf7 form .wpcf7-response-output .wpcf7-valid-tip-text {
  padding-left: 65px;
  padding-right: 10px;
  line-height: 1.4;
}
/* line 91, ../sass/5-plugins/_cf7.scss */
.wpcf7 form .wpcf7-not-valid:not(.wpcf7-select),
.wpcf7 form input.error,
.wpcf7 form textarea.error {
  border-color: #ccc !important;
  border-bottom-color: #900 !important;
}
/* line 99, ../sass/5-plugins/_cf7.scss */
.wpcf7 form .wpcf7-not-valid-tip,
.wpcf7 form label.error {
  display: block;
  padding: 0;
  margin-top: 3px;
  font-size: 11.56px;
  font-weight: 700;
  color: #900;
}
/* line 113, ../sass/5-plugins/_cf7.scss */
.wpcf7 form .wpcf7-file + .wpcf7-not-valid-tip {
  margin-top: 2px;
}
/* line 119, ../sass/5-plugins/_cf7.scss */
.wpcf7 form .wpcf7-validation-errors {
  border: none !important;
  padding: 0 !important;
  text-align: left !important;
  line-height: 1.2 !important;
  color: #900 !important;
}
/* line 130, ../sass/5-plugins/_cf7.scss */
.wpcf7 form .wpcf7-mail-sent-ok {
  border: none !important;
  padding: 0 !important;
  text-align: left !important;
  line-height: 1.2 !important;
  color: #5cb85c !important;
}

/*----- SIDEBAR -----*/
/* line 151, ../sass/5-plugins/_cf7.scss */
.widget .wpcf7 label sup {
  padding-left: 3px;
}
/* line 156, ../sass/5-plugins/_cf7.scss */
.widget .wpcf7 p {
  margin-top: 10px;
}
/* line 160, ../sass/5-plugins/_cf7.scss */
.widget .wpcf7 input[type="submit"] {
  margin-top: 0;
}
/* line 165, ../sass/5-plugins/_cf7.scss */
.widget .wpcf7 .ajax-loader {
  display: none;
}

/*----- FOOTER -----*/
/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
@media (max-width: 767px) {
  /* line 197, ../sass/5-plugins/_cf7.scss */
  .wpcf7-submit {
    width: 100%;
  }
}
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* @import "5-plugins/mailchimp"; */
/* ==========================================================================
   PLUGIN: MAINTENANCE MODE
   ========================================================================== */
/* line 9, ../sass/5-plugins/_maintenance.scss */
.main-container .preloader {
  display: none !important;
}
/* line 13, ../sass/5-plugins/_maintenance.scss */
.main-container #wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 21, ../sass/5-plugins/_maintenance.scss */
.main-container #wrapper .logo-box,
.main-container #wrapper .logo-box-retina {
  padding: 0;
  margin: 0 0 15px 0;
}
/* line 27, ../sass/5-plugins/_maintenance.scss */
.main-container #wrapper #content {
  position: static !important;
}
/* line 33, ../sass/5-plugins/_maintenance.scss */
.main-container #wrapper #content .description p {
  font-size: 18px;
  text-transform: uppercase;
}
/* line 39, ../sass/5-plugins/_maintenance.scss */
.main-container #wrapper #content .heading {
  font-size: 22px;
  text-transform: uppercase;
}
/* line 46, ../sass/5-plugins/_maintenance.scss */
.main-container footer {
  display: none;
}

/* line 54, ../sass/5-plugins/_maintenance.scss */
.login-form-container * {
  color: #fff !important;
}
/* line 58, ../sass/5-plugins/_maintenance.scss */
.login-form-container #submit {
  border-color: #fff !important;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* ==========================================================================
   PLUGIN: SOCIAL ICONS
   ========================================================================== */
/* line 6, ../sass/5-plugins/_social-icons.scss */
ul.social-icons-lists {
  margin: 0;
  padding: 0;
  /*
  	.socicon-twitter:hover { background: $twitter !important; opacity: 1; }
  	.socicon-facebook:hover { background: $facebook !important; opacity: 1; }
  	.socicon-youtube:hover { background: $youtube !important; opacity: 1; }
  	.socicon-linkedin:hover { background: $linkedin !important; opacity: 1; }
  	.socicon-googleplus:hover { background: $google-plus !important; opacity: 1; }
  	.socicon-rss:hover { background: $rss !important; opacity: 1; }
  */
}
/* line 11, ../sass/5-plugins/_social-icons.scss */
ul.social-icons-lists li.social-icons-list-item {
  margin: 0;
}
/* line 17, ../sass/5-plugins/_social-icons.scss */
ul.social-icons-lists li.social-icons-list-item a span {
  top: 0;
  color: #fff !important;
}

/* line 35, ../sass/5-plugins/_social-icons.scss */
.sidebar .socicon-instagram {
  background: #c91d73 !important;
  opacity: 1;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* ==========================================================================
   PLUGIN: COOKIE LAW INFO
   ========================================================================== */
/* line 6, ../sass/5-plugins/_cookie-law.scss */
#cookie-law-info-bar {
  padding: 30px 0;
  /* Text */
}
/* line 11, ../sass/5-plugins/_cookie-law.scss */
#cookie-law-info-bar span {
  /* Accept Button / Link */
  /* More Info Link */
}
/* line 14, ../sass/5-plugins/_cookie-law.scss */
#cookie-law-info-bar span #cookie_action_close_header {
  border-radius: 0;
  padding: 5px 15px;
}
/* line 19, ../sass/5-plugins/_cookie-law.scss */
#cookie-law-info-bar span #cookie_action_close_header:hover {
  text-decoration: none;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* ?? */
/* ==========================================================================
   PLUGINS: VISUAL COMPOSER
   ========================================================================== */
/* line 7, ../sass/5-plugins/_visual-composer.scss */
.wpb_flexslider {
  overflow: hidden !important;
  margin-bottom: 35px !important;
}
/* line 13, ../sass/5-plugins/_visual-composer.scss */
.wpb_flexslider li:before {
  display: none !important;
}

/* line 20, ../sass/5-plugins/_visual-composer.scss */
ol.vc_carousel-indicators {
  padding: 0 !important;
}

/* line 27, ../sass/5-plugins/_visual-composer.scss */
.ult-carousel-wrapper .slick-dots {
  margin: 0 !important;
}
/* line 31, ../sass/5-plugins/_visual-composer.scss */
.ult-carousel-wrapper li:before {
  display: none !important;
}

/* ==========================================================================
   6- PROJECT
   ========================================================================== */
/* ==========================================================================
   PAGE: FRONT PAGE
   ========================================================================== */
/* line 9, ../sass/6-project/_1-front-page.scss */
.home #clients .owl-dots {
  margin-top: -35px;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
@media print {
  /* line 108, ../sass/6-project/_1-front-page.scss */
  .home #intro,
  .home #get-in-touch,
  .home #testimonials,
  .home .owl-stage-outer,
  .home #contact {
    left: 0 !important;
    right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    min-width: 100% !important;
  }
  /* line 122, ../sass/6-project/_1-front-page.scss */
  .home .dt-owl-item,
  .home .testimonial-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center !important;
  }
  /* line 132, ../sass/6-project/_1-front-page.scss */
  .home .owl-nav {
    display: none !important;
  }
}
/* ==========================================================================
   PAGE: BLOG / NEWS
   ========================================================================== */
/* line 11, ../sass/6-project/_4-blog.scss */
.blog .entry-meta .author,
.blog .entry-meta .category-link,
.archive .entry-meta .author,
.archive .entry-meta .category-link,
.search .entry-meta .author,
.search .entry-meta .category-link {
  display: none;
}

/* line 20, ../sass/6-project/_4-blog.scss */
.blog .post-entry-content {
  border: 1px solid #e5e5e5;
  box-shadow: 0 3px 3px #e5e5e5 !important;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
@media print {
  /* line 117, ../sass/6-project/_4-blog.scss */
  #sidebar {
    display: none !important;
  }

  /* line 121, ../sass/6-project/_4-blog.scss */
  .blog #content,
  .single #content {
    width: 100% !important;
  }
}
/* ==========================================================================
   SECTION: HOMEPAGE SLIDER
   ========================================================================== */
/* line 8, ../sass/6-project/_homepage-slider.scss */
.tp-leftarrow,
.tp-rightarrow {
  background: transparent !important;
}

@-webkit-keyframes avia_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}
@keyframes avia_fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}
/* line 45, ../sass/6-project/_homepage-slider.scss */
.scroll-down {
  cursor: pointer;
  -webkit-animation: avia_fade_move_down 2s ease-in-out infinite;
  animation: avia_fade_move_down 2s ease-in-out infinite;
}

/* line 55, ../sass/6-project/_homepage-slider.scss */
.type-it-wrap {
  text-align: center !important;
  min-width: 100vw !important;
  line-height: 1.5 !important;
  font-size: 100px;
  color: #000;
}

/* line 66, ../sass/6-project/_homepage-slider.scss */
.home-hero-headline {
  border-top: 2px solid #fff;
  padding: 25px 40px 0 !important;
  margin-top: -25px !important;
}

/* line 73, ../sass/6-project/_homepage-slider.scss */
#iosh .home-hero-headline,
#ifoa .home-hero-headline {
  text-shadow: 0 0 150px #333;
}

/* line 81, ../sass/6-project/_homepage-slider.scss */
.home .rev_slider > ul {
  background: #f78f20 !important;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
@media (max-width: 767px) {
  /* line 107, ../sass/6-project/_homepage-slider.scss */
  .type-it {
    font-size: 85px !important;
  }
}
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
@media (max-width: 480px) {
  /* line 123, ../sass/6-project/_homepage-slider.scss */
  .scroll-down svg {
    width: 50px;
    margin-left: -50px;
  }

  /* line 131, ../sass/6-project/_homepage-slider.scss */
  #clients .owl-dots {
    text-align: center;
  }

  /* line 136, ../sass/6-project/_homepage-slider.scss */
  #testimonials {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  /* line 141, ../sass/6-project/_homepage-slider.scss */
  #testimonials .vc_column-inner {
    padding-bottom: 50px;
  }
  /* line 145, ../sass/6-project/_homepage-slider.scss */
  #testimonials .owl-dots {
    text-align: center;
  }
}
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
@media print {
  /* line 214, ../sass/6-project/_homepage-slider.scss */
  .home .ti-container,
  .home .ti-cursor {
    font-size: 70px !important;
  }
}
/* ==========================================================================
   SECTION: SECTION HEADER
   ========================================================================== */
/* line 6, ../sass/6-project/_section-header.scss */
.single-related-posts h3,
.section-header {
  position: relative;
  margin-bottom: 35px;
  padding: 0 0 10px 0;
  font-weight: 400;
}
/* line 14, ../sass/6-project/_section-header.scss */
.single-related-posts h3.white,
.section-header.white {
  color: #fff;
}
/* line 18, ../sass/6-project/_section-header.scss */
.single-related-posts h3:after,
.section-header:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 250px;
  height: 2px;
  margin-left: -125px;
  content: "";
  color: #fff;
  background-color: #f28d00;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
@media (max-width: 767px) {
  /* line 53, ../sass/6-project/_section-header.scss */
  #get-in-touch .get-in-touch-header {
    text-align: center !important;
    margin-bottom: 35px;
  }
  /* line 58, ../sass/6-project/_section-header.scss */
  #get-in-touch .get-in-touch-button {
    white-space: nowrap;
  }
}
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* ==========================================================================
   SECTION: SECTION BODY
   ========================================================================== */
/* section body text */
/* line 6, ../sass/6-project/_section-body.scss */
.section-body {
  font-size: 20px;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* ==========================================================================
   PAGE: PROJECTS SINGLE
   ========================================================================== */
/* line 8, ../sass/6-project/_single-portfolio.scss */
.single-portfolio .rev_slider > ul {
  background: #fff !important;
}
/* line 12, ../sass/6-project/_single-portfolio.scss */
.single-portfolio .section-header {
  margin-top: 35px;
}
/* line 16, ../sass/6-project/_single-portfolio.scss */
.single-portfolio .single-related-posts {
  margin-bottom: 0;
}
/* line 20, ../sass/6-project/_single-portfolio.scss */
.single-portfolio .section-header {
  text-align: center;
}
/* line 24, ../sass/6-project/_single-portfolio.scss */
.single-portfolio .section-header.projects {
  margin-top: 0;
}
/* line 31, ../sass/6-project/_single-portfolio.scss */
.single-portfolio .single-related-posts h3 {
  display: none;
}

/* cursor for video popup slide */
/* line 39, ../sass/6-project/_single-portfolio.scss */
.babcock-video-popup {
  cursor: pointer;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* ==========================================================================
   SECTION: PROJECT NAVIGATION
   ========================================================================== */
/* line 8, ../sass/6-project/_projects-navigation.scss */
#projects-navigation a {
  padding-bottom: 10px;
}
/* line 11, ../sass/6-project/_projects-navigation.scss */
#projects-navigation a:hover {
  border-bottom: 2px solid #f28d00;
}

/* line 23, ../sass/6-project/_projects-navigation.scss */
.digital .digital a {
  color: #f28d00;
  border-bottom: 2px solid #f28d00;
}

/* line 36, ../sass/6-project/_projects-navigation.scss */
.print .print a {
  color: #f28d00;
  border-bottom: 2px solid #f28d00;
}

/* line 49, ../sass/6-project/_projects-navigation.scss */
.events .events a {
  color: #f28d00;
  border-bottom: 2px solid #f28d00;
}

/* line 62, ../sass/6-project/_projects-navigation.scss */
.advertising .advertising a {
  color: #f28d00;
  border-bottom: 2px solid #f28d00;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* ==========================================================================
   SECTION: GET IN TOUCH
   ========================================================================== */
/* line 8, ../sass/6-project/_get-in-touch.scss */
#get-in-touch .get-in-touch-header {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3;
}
/* line 14, ../sass/6-project/_get-in-touch.scss */
#get-in-touch .get-in-touch-button {
  border: 2px solid #fff;
  background: transparent !important;
  border-radius: 12px;
  white-space: nowrap;
  min-width: 120px !important;
}
/* line 21, ../sass/6-project/_get-in-touch.scss */
#get-in-touch .get-in-touch-button:hover {
  background: rgba(255, 255, 255, 0.2) !important;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
@media (max-width: 767px) {
  /* line 49, ../sass/6-project/_get-in-touch.scss */
  #get-in-touch .get-in-touch-header {
    text-align: center !important;
    margin-bottom: 35px;
  }
  /* line 54, ../sass/6-project/_get-in-touch.scss */
  #get-in-touch .get-in-touch-button {
    white-space: nowrap;
  }
}
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
/* ==========================================================================
   SECTION: CONTACT FORMS
   ========================================================================== */
/* line 7, ../sass/6-project/_contact.scss */
#contact input[type=text],
#contact input[type=email],
#contact textarea {
  border: 1px solid #000;
  box-sizing: border-box;
  background: transparent;
  transition: all 0.3s ease 0s;
}
/* line 17, ../sass/6-project/_contact.scss */
#contact input[type=text]:focus,
#contact input[type=email]:focus,
#contact textarea:focus {
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.2);
}
/* line 23, ../sass/6-project/_contact.scss */
#contact input[type=text],
#contact input[type=email] {
  height: 40px;
  line-height: 40px;
  margin-bottom: 15px;
}
/* line 30, ../sass/6-project/_contact.scss */
#contact textarea {
  height: 150px;
}
/* line 34, ../sass/6-project/_contact.scss */
#contact input[type=submit] {
  float: right;
}
/* line 38, ../sass/6-project/_contact.scss */
#contact p {
  margin-bottom: 0;
}
/* line 42, ../sass/6-project/_contact.scss */
#contact .form-column {
  width: 50%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}
/* line 49, ../sass/6-project/_contact.scss */
#contact .wpcf7-form-control-wrap {
  display: block;
  position: relative;
}
/* line 55, ../sass/6-project/_contact.scss */
#contact .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  position: absolute;
  top: 1px;
  left: 2px;
  margin: 0;
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
  padding-top: 8px;
  color: #d9534f;
  background: #fff;
}
/* line 69, ../sass/6-project/_contact.scss */
#contact .wpcf7-valid-tip-text,
#contact .wpcf7-not-valid-tip-text {
  color: #fff;
  line-height: 1.3;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f28d00;
}

/* line 84, ../sass/6-project/_contact.scss */
.contact .ultimate-map-wrapper {
  margin-bottom: 0;
}
/* line 90, ../sass/6-project/_contact.scss */
.contact .section-header:after {
  background-color: #fff;
}
/* line 95, ../sass/6-project/_contact.scss */
.contact .section-body {
  color: #fff;
}
/* line 102, ../sass/6-project/_contact.scss */
.contact #contact input[type=text],
.contact #contact input[type=email],
.contact #contact textarea {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.85);
}
/* line 109, ../sass/6-project/_contact.scss */
.contact #contact input[type=text]:focus,
.contact #contact input[type=email]:focus,
.contact #contact textarea:focus {
  border: 1px solid #fff;
  background: white;
}
/* line 115, ../sass/6-project/_contact.scss */
.contact #contact input[type=submit] {
  border: 2px solid #fff;
  background: #fff !important;
  color: #f28d00;
}
/* line 125, ../sass/6-project/_contact.scss */
.contact #contact .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  background: rgba(255, 255, 255, 0.25);
}

/* line 134, ../sass/6-project/_contact.scss */
#address {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  word-break: break-all;
  color: #fff;
}
/* line 142, ../sass/6-project/_contact.scss */
#address a {
  color: #fff;
  text-decoration: none;
}
/* line 147, ../sass/6-project/_contact.scss */
#address a:hover {
  text-decoration: underline;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */
/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
@media (max-width: 480px) {
  /* line 180, ../sass/6-project/_contact.scss */
  #contact {
    padding-bottom: 0 !important;
  }
  /* line 184, ../sass/6-project/_contact.scss */
  #contact .form-column {
    width: 100%;
  }
}
/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */
/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */
/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */
/* ==========================================================================
   Browsers
   ========================================================================== */
/* =============================================
   IE 9--
   ============================================= */
/* =============================================
   IE 10 & 11
   ============================================= */
/* =============================================
   Firefox
   ============================================= */
@-moz-document url-prefix() {}
/* ==========================================================================
   PRINT STYLES
   ========================================================================== */
@media print {
  /* line 251, ../sass/6-project/_contact.scss */
  #map,
  .ultimate_google_map,
  .gm-err-content {
    left: 0 !important;
    right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    min-width: 100% !important;
  }
}

/*# sourceMappingURL=include-child.css.map */
