/* ==========================================================================
   UI: MOUSE ICON
   ========================================================================== */

@-moz-keyframes scroll-wheel {
	
	0% {
		opacity: 1;
		-moz-transform: translate3d(0,0,0);
			 transform: translate3d(0,0,0);
	}
	
	35% {
		opacity: 1;
		-moz-transform: translate3d(0,7px,0);
			 transform:	translate3d(0,7px,0);
	}
	
	50% {
		opacity: 0;
		-moz-transform: translate3d(0,10px,0);
			 transform: translate3d(0,10px,0);
	}
	
	50.001% {
		opacity: 0;
		-moz-transform: translate3d(0,0,0);
			 transform: translate3d(0,0,0);
	}
	
	80% {
		opacity: 0;
		-moz-transform: translate3d(0, 0, 0);
			 transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes scroll-wheel {
	
	0% {
		opacity: 1;		
		-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
	}
	
	35% {
		opacity: 1;		
		-webkit-transform: translate3d(0,7px,0);
				transform: translate3d(0,7px,0);
	}
	
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0,10px,0);
				transform: translate3d(0,10px,0);
	}
	
	50.001% {
		opacity: 0;
		-webkit-transform: translate3d(0,0,0);
				transform: translate3d(0,0,0);
	}
	
	80% {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
}

@keyframes scroll-wheel {
	
	0% {
		opacity: 1;		
		 -webkit-transform: translate3d(0,0,0);
			-moz-transform: translate3d(0,0,0);
				 transform: translate3d(0,0,0);
	}
	
	35% {
		opacity: 1;		
		 -webkit-transform: translate3d(0,7px,0);
			-moz-transform: translate3d(0,7px,0);	
				 transform: translate3d(0,7px,0);
	}
	
	50% {
		opacity: 0;
		 -webkit-transform: translate3d(0,10px,0);
		 	-moz-transform: translate3d(0,10px,0);
		 		 transform: translate3d(0,10px,0);
	}
	
	50.001% {
		opacity: 0;
		 -webkit-transform: translate3d(0,0,0);
		 	-moz-transform: translate3d(0,0,0);
		 		 transform: translate3d(0,0,0);
	}
	
	80% {
		opacity: 0;
		 -webkit-transform: translate3d(0, 0, 0);
		 	-moz-transform: translate3d(0, 0, 0);
		 		 transform: translate3d(0, 0, 0);
	}
}


.section-scroll {
    width: 30px;
    height: 48px;
    margin: auto;
    cursor: pointer;
    z-index: 3;
}

.mouse {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000;

     -webkit-border-radius: 15px;
   		-moz-border-radius: 15px;
   			 border-radius: 15px;
}

 .wheel {
     display: block;
     position: absolute;
     top: 10px;
     left: 50%;
     width: 4px;
     height: 4px;
     margin: 0 0 0 -2px;
     background: #000;
     
     -webkit-border-radius: 50%;
     	-moz-border-radius: 50%;
	 		 border-radius: 50%;

     -webkit-animation: scroll-wheel 1.8s linear 0s infinite normal none;
     	-moz-animation: scroll-wheel 1.8s linear 0s infinite normal none;
	 		 animation: scroll-wheel 1.8s linear 0s infinite normal none;
 }
 
 
 
 
 /* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}