@font-face {
    font-family: 'RobotoMonoThin';
    src: url('../fonts/RobotoMono/RobotoMono-Thin.eot');
    src: url('../fonts/RobotoMono/RobotoMono-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoMono/RobotoMono-Thin.woff') format('woff'),
         url('../fonts/RobotoMono/RobotoMono-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
