@font-face {
    font-family: 'RobotoMonoThinItalic';
    src: url('../fonts/RobotoMono/RobotoMono-ThinItalic.eot');
    src: url('../fonts/RobotoMono/RobotoMono-ThinItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoMono/RobotoMono-ThinItalic.woff') format('woff'),
         url('../fonts/RobotoMono/RobotoMono-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
