@font-face {
    font-family: 'RobotoMonoRegular';
    src: url('../fonts/RobotoMono/RobotoMono-Regular.eot');
    src: url('../fonts/RobotoMono/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoMono/RobotoMono-Regular.woff') format('woff'),
         url('../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
