@font-face {
	font-family: 'Papyrus';
	src: url('../fonts/Papyrus/Papyrus.eot');
	src: url('../fonts/Papyrus/Papyrus.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Papyrus/Papyrus.woff2') format('woff2'),
		url('../fonts/Papyrus/Papyrus.woff') format('woff'),
		url('../fonts/Papyrus/Papyrus.ttf') format('truetype'),
		url('../fonts/Papyrus/Papyrus.svg#Papyrus') format('svg');
	font-weight: normal;
	font-style: normal;
}
