@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('../fonts/OpenSans/OpenSans-CondLight-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-CondLight-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-CondLight-webfont.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;

}