@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}