@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}