@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('../fonts/OpenSans/OpenSans-CondBold-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-CondBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-CondBold-webfont.svg#OpenSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}