@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}