@font-face {
    font-family: 'OpenSansCondensedLightItalic';
    src: url('../fonts/OpenSans/OpenSans-CondLightItalic-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-CondLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-CondLightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-CondLightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-CondLightItalic-webfont.svg#OpenSansCondensedLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}