@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('../fonts/OpenSans/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}