@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/OpenSans/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}