@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../fonts/OpenSans/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}