@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}