/* ==========================================================================
   SECTION: WIDGETS
   ========================================================================== */

$fg-siderbar-extra-padding:					25px					!default;
$fg-widget-padding:							25px 0					!default;

$fg-widget-font-size:						14px					!default;
$fg-widget-line-height:						1.5						!default;


.widget {

	padding: $fg-widget-padding;
	
	font-size: $fg-widget-font-size;
	line-height: $fg-widget-line-height;
	overflow: hidden;
	word-wrap: break-word;
	
	.widget-title,
	.widgettitle { 
		margin-top: 0;
		padding-bottom: 5px;
		border-bottom: 2px solid $gray-lighter;
		font-size: $fg-widget-font-size;
		text-transform: uppercase;
		overflow: hidden;
		word-wrap: break-word;
	}
	
	&:first-of-type {
		padding-top: 0;
	}
	
	&:last-of-type {
		padding-bottom: 0;
	}
	
	
	&:not(.widget_ultimate_posts):not(.widget_rss) {
	
		ul {
			@extend .iconlist;
		}
	}
	
	ul,
	p:last-of-type,
	li:last-of-type,
	table,
	form,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="text"],
	input[type="email"],
	textarea,
	select {
		margin-bottom: 0 !important;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		width: 100% !important;
	}
	
	select {
		
		@extend .styled-select;
		
		width: 98% !important;
		display: block;
		margin: 0 auto;
	}
}



#sidebar-left {
	padding-right: $fg-siderbar-extra-padding;
}

#sidebar-right {
	padding-left: $fg-siderbar-extra-padding;
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
 

/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	// reset to the original 15px set in grid
	#sidebar-left,
	#sidebar-right {
		padding-right: 15px;
		padding-left: 15px;
	}
}


/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs-min ) {}


/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}

/* =============================================
   TABLETS ONLY (between 768px and 991px)
   ============================================= */

@media ( min-width: $screen-sm-min ) and ( max-width: $screen-sm-max ) {}

/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}

/* =============================================
   SMALL SCREENS ONLY (between 992px and 1199px)
   ============================================= */

@media ( min-width: $screen-md-min ) and ( max-width: $screen-md-max ) {}

/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}



/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
	
	#sidebar-right,
	#sidebar-left {
		display: none !important;
	}
}