/* ==========================================================================
   SECTION: WIDGETS - CALENDAR
   ========================================================================== */
   	
.widget_calendar {
	
	.calendar_wrap {
		
		table {
			
			@extend .table-striped;
			
			width: 100%;
			max-width: 100%;
			font-size: $fg-font-size-s;
			
			// CALEBDAR TITLE (Month YYYY)
			caption { }

			// TABLE CELLES
			thead,
			tbody,
			tfoot {
											
				th, td {
					width: 14.28571428571429%;
					padding: 5px 0;
					text-align: center;
					font-size: $fg-font-size-s;
				}
			}
			
			// TABLE BODY
			tbody {
				
				td:not(.pad) {
					
					a { 
						display: block;
						font-weight: 900;
						color: $gray-darker;
						border-bottom: 2px solid $gray-darker;
						
						&:hover {
							text-decoration: none;
						}
					}
					
					&:hover,
					&#today {
						background: $gray-lighter;
					}
				}
			}
			
			
			// CALENDAR NAVIGATION
			tfoot {

				#prev { 
					text-align: left;
				}
				
				#next {
					text-align: right;
				}
			}
		}
	}	
}






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}