// @use   font-family: Ampersand, Helvetica, sans-serif;	
// @link  https://developer.mozilla.org/en-US/docs/Web/CSS/%40font-face/unicode-range

@font-face {
    font-family: 'Ampersand';
//     src: local('Papyrus'), local('Baskerville'), local('Palatino'), local('Book Antiqua');
    src: url('../fonts/Papyrus/Papyrus.eot');
	src: url('../fonts/Papyrus/Papyrus.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Papyrus/Papyrus.woff2') format('woff2'),
		 url('../fonts/Papyrus/Papyrus.woff') format('woff'),
		 url('../fonts/Papyrus/Papyrus.ttf') format('truetype'),
		 url('../fonts/Papyrus/Papyrus.svg#Papyrus') format('svg');
    unicode-range: U+26;
}

@font-face {
    /* Ampersand fallback font */
    font-family: 'Ampersand';
    src: local('Arial');
    unicode-range: U+270C;
}