@font-face {
	font-family: 'Kingthings';
	src: url('../fonts/Kingthings/KingthingsPrintingkit.eot');
	src: url('../fonts/Kingthings/KingthingsPrintingkit.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Kingthings/KingthingsPrintingkit.woff2') format('woff2'),
		 url('../fonts/Kingthings/KingthingsPrintingkit.woff') format('woff'),
		 url('../fonts/Kingthings/KingthingsPrintingkit.ttf') format('truetype'),
		 url('../fonts/Kingthings/KingthingsPrintingkit.svg#KingthingsPrintingkit') format('svg');
	font-weight: 100;
	font-style: normal;
}