/* ==========================================================================
   SECTION: CONTACT FORMS
   ========================================================================== */

#contact {
	
	input[type=text],
	input[type=email],
	textarea {
		
		border: 1px solid #000;
		box-sizing: border-box;
		background: transparent;
		
		transition: all 0.3s ease 0s; 
		
		&:focus {
			border: 1px solid #ccc;
			background: rgba(255,255,255,0.2);
		}
	}
	
	input[type=text],
	input[type=email] {
		height: 40px;
		line-height: 40px;
		margin-bottom: 15px;
	}
	
	textarea {
		height: 150px;
	}
	
	input[type=submit] {
		float: right;
	}
	
	p {
		margin-bottom: 0;
	}
	
	.form-column {
		width: 50%; 
		float: left; 
		padding: 0 15px; 
		box-sizing: border-box;
	}
	
	.wpcf7-form-control-wrap {
		
		display: block;
		position: relative;
		
		// place error messages over inputs and hide with jQuery on hover
		.wpcf7-not-valid-tip {
			position: absolute;
			top: 1px;
			left: 2px;
			margin: 0;
			display: flex;
			align-items: flex-start;
			padding-left: 10px;
			padding-top: 8px;
			color: $brand-danger;
			background: #fff;
		}
	}
	
	.wpcf7-valid-tip-text,
	.wpcf7-not-valid-tip-text {
		color: #fff;
		line-height: 1.3;
		font-size: 18px;
		padding-top: 10px;
		padding-bottom: 10px;
		background: $brand-primary;
	}
}



.contact {
		
	.ultimate-map-wrapper {
		margin-bottom: 0;
	}
	
	.section-header {
		
		&:after {
			background-color: #fff;
		}
	}
	
	.section-body {
		color: #fff;
	}
	
	
	#contact {
		
		input[type=text],
		input[type=email],
		textarea {
			
			border: 1px solid #fff;
			background: rgba(255,255,255,0.85);
						
			&:focus {
				border: 1px solid #fff;
				background: rgba(255,255,255,1);
			}
		}
				
		input[type=submit] {
			border: 2px solid #fff;
			background: #fff !important;
			color: $brand-primary;
		}
		
		
		.wpcf7-form-control-wrap {
						
			// place error messages over inputs and hide with jQuery on hover
			.wpcf7-not-valid-tip {
				background: rgba(255,255,255,0.25);
			}
		}			
	}
}



#address { 
	
	font-size: 16px; 
	font-weight: 400;
	line-height: 1.3; 
	word-break: break-all;  
	color: #fff;
	
	a {
		
		color: #fff;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	
	#contact {
		
		padding-bottom: 0 !important;
		
		.form-column {
			width: 100%;
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
	
	#map,
	.ultimate_google_map,
	.gm-err-content {
		left: 0 !important;
		right: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 100% !important;
		min-width: 100% !important;
	}
}