/* ==========================================================================
   SECTION: GET IN TOUCH
   ========================================================================== */


#get-in-touch {
	
	.get-in-touch-header {
		font-size: 36px;
		font-weight: 500;
		line-height: 1.3;
	}
	
	.get-in-touch-button {
		border: 2px solid #fff;
		background: transparent !important;
		border-radius: 12px;
		white-space: nowrap;
		min-width: 120px !important;
		
		&:hover {
			background: rgba(255,255,255,0.2) !important;
		}
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	#get-in-touch {
		
		.get-in-touch-header {
			text-align: center !important;
			margin-bottom: 35px;
		}
		
		.get-in-touch-button {
			white-space: nowrap;
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}