/* ==========================================================================
   SECTION: HOMEPAGE SLIDER
   ========================================================================== */


// HERO NAVGATION

.tp-leftarrow,
.tp-rightarrow {
	background: transparent !important;
}



// SCROLL DOWN

@-webkit-keyframes avia_fade_move_down {
	0% {
		-webkit-transform:translate(0,-20px);
		opacity:0
	}
	50% {
		opacity:1
	}
	100% {
		-webkit-transform:translate(0,20px);
		opacity:0
	}
}
@keyframes avia_fade_move_down {
	0% {
		transform:translate(0,-20px);
		opacity:0
	}
	50% {
		opacity:1
	}
	100% {
		transform:translate(0,20px);
		opacity:0
	}
}


.scroll-down {
	cursor: pointer;
	
	 -webkit-animation: avia_fade_move_down 2s ease-in-out infinite;
			animation: avia_fade_move_down 2s ease-in-out infinite;
}


// TYPE IT

.type-it-wrap {
	text-align: center !important;
	min-width: 100vw !important;
	line-height: 1.5 !important;
	font-size: 100px;
	color: #000;
}


// TITLES

.home-hero-headline {
	border-top: 2px solid #fff;
	padding: 25px 40px 0 !important;
	margin-top: -25px !important;
}


#iosh .home-hero-headline,
#ifoa .home-hero-headline {
	text-shadow: 0 0 150px #333;
}



// BACKGROUND
.home .rev_slider > ul { 
	background: #f78f20 !important; 
}






/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	.type-it {
		font-size: 85px !important;
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {
	

	
	.scroll-down {
		
		svg {
			width: 50px;
			margin-left: -50px;
		}
	}
	
	#clients {
		
		.owl-dots {
			text-align: center;
		}
	}
	
	#testimonials {
		
		padding-left: 25px !important;
		padding-right: 25px !important;
		
		.vc_column-inner  {
			padding-bottom: 50px;
		}
		
		.owl-dots {
			text-align: center;
		}
	}
}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
	
	.home { 
			
		.ti-container,
		.ti-cursor {
			font-size: 70px !important;
		}
	}
}