/* ==========================================================================
   SECTION: PROJECT NAVIGATION
   ========================================================================== */


#projects-navigation {
	
	a {
		padding-bottom: 10px;
		
		&:hover {
			border-bottom: 2px solid $brand-primary;
		}
	}
}



.digital {
	
	.digital {
		
		a {
			
			color: $brand-primary;
			border-bottom: 2px solid $brand-primary;
		}
	}
}


.print {
	
	.print {
		
		a {
			
			color: $brand-primary;
			border-bottom: 2px solid $brand-primary;
		}
	}
}


.events {
	
	.events {
		
		a {
			
			color: $brand-primary;
			border-bottom: 2px solid $brand-primary;
		}
	}
}


.advertising {
	
	.advertising {
		
		a {
			color: $brand-primary;
			border-bottom: 2px solid $brand-primary;
		}
	}
}







/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}