/* ==========================================================================
   SECTION: SECTION HEADER
   ========================================================================== */


.single-related-posts h3,
.section-header {
	
	position: relative;
	margin-bottom: 35px;
	padding: 0 0 10px 0;
	font-weight: 400;
	
	&.white {
		color: #fff;
	}
	
	&:after {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 250px;
		height: 2px;
		margin-left: -125px;
		content: "";
		color: #fff;
		background-color: $brand-primary;
	}
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {
	
	#get-in-touch {
		
		.get-in-touch-header {
			text-align: center !important;
			margin-bottom: 35px;
		}
		
		.get-in-touch-button {
			white-space: nowrap;
		}
	}
}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}