/* ==========================================================================
   PAGE: PROJECTS SINGLE
   ========================================================================== */


.single-portfolio {
	
	.rev_slider > ul { 
		background: #fff !important; 
	}
	
	.section-header {
		margin-top: 35px;
	}
	
	.single-related-posts {
		margin-bottom: 0;
	}
	
	.section-header {
		
		text-align: center;
		
		&.projects {
			margin-top: 0;
		}
	}
	
	.single-related-posts {
		
		h3 {
			display: none;
		}
	}
}


/* cursor for video popup slide */
.babcock-video-popup { 
	cursor: pointer; 
}



/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* =============================================
   SMALL SCREENS AND BELOW (991px and below)
   ============================================= */

@media ( max-width: $screen-sm-max ) {}


/* =============================================
   MOBILE LANDSCAPE (767px and below)
   ============================================= */
   
@media ( max-width: $screen-xs-max ) {}

 
/* =============================================
   MOBILE PORTRAIT (480px and below)
   ============================================= */
 
@media ( max-width: $screen-xs ) {}




/* =============================================
   TABLETS AND UP (768px and up)
   ============================================= */

@media ( min-width: $screen-sm-min ) {}


/* =============================================
   SMALL SCREENS AND UP (992px and up)
   ============================================= */

@media ( min-width: $screen-md-min ) {}


/* =============================================
   LARGE SCREENS AND UP (1200px and up)
   ============================================= */

@media ( min-width: $screen-lg-min ) {}






/* ==========================================================================
   Browsers
   ========================================================================== */

/* =============================================
   IE 9--
   ============================================= */

.old-ie {}


/* =============================================
   IE 10 & 11
   ============================================= */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {}


/* =============================================
   Firefox
   ============================================= */

@-moz-document url-prefix() {}




/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {}