@font-face {
    font-family: 'Dashicons';
    src: url('../fonts/Dashicons/dashicons.eot');
    src: url('../fonts/Dashicons/dashicons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dashicons/dashicons.woff') format('woff'),
         url('../fonts/Dashicons/dashicons.ttf') format('truetype'),
         url('../fonts/Dashicons/dashicons.svg#Dashicons') format('svg');
    font-weight: normal;
    font-style: normal;
}